<div>
    <p>
        <span>{{order.Type}} {{'Order' | r}}<span ng-show="order.ExternalID"> {{'ID' | r}}: </span></span>
        <span class="pull-right">{{order.ExternalID}}</span>
    </p>
    <p ng-show="order.DateSubmitted">
        <span>{{'Date' | r}} {{'Submitted' | r}}</span>
        <span class="pull-right">{{order.DateSubmitted | date:'short'}}</span>
    </p>
    <p ng-show="order.DateCompleted">
        <span>{{'Date' | r}} {{'Completed' | r}}</span>
        <span class="pull-right">{{order.DateCompleted | date:'short'}}</span>
    </p>
    <p ng-show="order.FromUserFirstName || order.FromUserLastName">
        <span>{{'Created By' | r}}</span>
        <span class="pull-right">{{order.FromUserFirstName + ' ' + order.FromUserLastName}}</span>
    </p>
    <p ng-show="order.Comments">
        <span>{{'Comments' | r}}</span>
        <span class="pull-right">{{order.Comments}}</span>
    </p>
    <p ng-show="orderCostCenter">
        <span>{{'Cost Center' | r}}</span>
        <span class="pull-right">{{(order.LineItems.length == 1) && order.LineItems[0].CostCenter || null}}</span>
    </p>
    <p ng-show="order.Total > 0">
        <span>{{'Payment' | r}} {{'Method' | r}}</span>
        <span class="pull-right"><strong ng-show="order.CreditCard.Type">{{order.CreditCard.GCDisplayName}}</strong> {{order.AmountOnAccount && order.PaymentMethod != 'BudgetAccount' ? "(" + (order.Total - order.AmountOnAccount | currency) + ")" : ""}}</span>
    </p>
    <p ng-show="order.AmountOnAccount && order.PaymentMethod != 'BudgetAccount'">
        <span></span>
        <span class="pull-right">{{(order.AccountName || order.AccountLabel) + " (" + (order.AmountOnAccount | currency) + ")"}}</span>
    </p>
    <p ng-show="order.CostCenter">
        <span>{{'Cost Center' | r}}</span>
        <span class="pull-right">{{order.CostCenter}}</span>
    </p>
    <p ng-repeat="field in order.OrderFields" ng-if="field.Name == 'PONumber' && field.Value">
        <span>{{'PO Number' | r}}</span>
        <span class="pull-right">{{field.Value}}</span>
    </p>
    <p ng-repeat="field in order.OrderFields" ng-if="field.Name == 'ExpenseCode' && field.Value">
        <span>{{'Expense Code' | r}}</span>
        <span class="pull-right">{{field.Value}}</span>
    </p>
    <hr />
    <!--<address ng-show="!order.IsMultipleShip() && order.ShipAddress.AddressName != 'Email Delivery'">
        <span class="text-primary"><strong>{{'Ship to' | r}}</strong></span><br />
        <div>
            <span ng-show="order.LineItems[0].ShipFirstName || order.LineItems[0].ShipLastName">{{order.LineItems[0].ShipFirstName}} {{order.LineItems[0].ShipLastName}}</span>
            <span ng-show="!order.LineItems[0].ShipFirstName || !order.LineItems[0].ShipLastName">{{order.ShipAddress.FirstName}} {{order.ShipAddress.LastName}}</span>
        </div>
        <div>{{order.ShipAddress.Street1}}</div>
        <div ng-if="order.ShipAddress.Street2">{{order.ShipAddress.Street2}}</div>
        <div>{{order.ShipAddress.City}}, {{order.ShipAddress.State}} {{order.ShipAddress.Zip}}</div>
        <div ng-if="order.ShipAddress.Country != 'US'">{{order.ShipAddress.Country}}</div>
    </address>-->
    <address ng-show="order.BillAddress && order.BillAddress.IsBilling && order.BillAddress.IsCustEditable">
        <span><strong>{{'Bill to' | r}}</strong></span><br />
        <div>
            <span ng-show="order.BillFirstName || order.BillLastName">{{order.BillFirstName}} {{order.BillLastName}}</span>
            <span ng-show="!order.BillFirstName || !order.BillLastName">{{order.BillAddress.FirstName}} {{order.BillAddress.LastName}}</span>
        </div>
        <div>{{order.BillAddress.Street1}}</div>
        <div ng-if="order.BillAddress.Street2">{{order.BillAddress.Street2}}</div>
        <div>{{order.BillAddress.City}}, {{order.BillAddress.State}} {{order.BillAddress.Zip}}</div>
        <div ng-if="order.BillAddress.Country != 'US'">{{order.BillAddress.Country}}</div>
    </address>
</div>
