<div id="address_edit" class="col-sm-12">
    <loadingindicator ng-show="displayLoadingIndicator" title="Please wait while we validate your address"/>
    <form name="addressEdit">
        <div class="row" ng-show="addressMessage">
            <div class="col-xs-7">
                <p><small>{{addressMessage}} You may edit your address and attempt to save again, or select an option below.</small></p>
                <div class="btn-group btn-group-sm">
                    <button ng-if="newAddress" class="btn btn-success" type="button" ng-click="saveSuggestedAddress()">Use Suggested</button>
                    <button class="btn btn-info" type="button" ng-click="save()">Keep Mine</button>
                </div>
            </div>
            <div class="col-xs-5" ng-if="newAddress">
                <span class="mini-white-header text-center text-info">Suggested Address</span>
                <div class="mini-white-body">
                    <small>
                        <span ng-show="newAddress.FirstName || newAddress.LastName">{{newAddress.FirstName}} {{newAddress.LastName}}<br /></span>
                        <span ng-show="newAddress.CompanyName">{{newAddress.CompanyName}}<br /></span>
                        <span>{{newAddress.Street1}}<br /></span>
                        <span ng-show="newAddress.Street2 != ''">{{newAddress.Street2}}<br /></span>
                        <span>{{newAddress.City}}, {{newAddress.State}} {{newAddress.Zip}}</span>
                    </small>
                </div>
            </div>
        </div>
        <hr style="border-top-color: #ddd; margin-left:-15px; margin-right:-15px;" ng-show="addressMessage"/>
        <div class="row">
            <div class="col-sm-6 view-form-icon">
                <div ng-hide="true">
                    <label class="required">Address Name</label>
                    <input name="addressname" class="form-control" type="text" ng-model="address.AddressName" />
                    <i class="fa fa-edit"></i>
                </div>
                <div>
                    <label class="required">First Name</label>
                    <input name="firstname" class="form-control" type="text" ng-model="address.FirstName" ng-required="true" />
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <label class="required">Last Name</label>
                    <input name="lastname" class="form-control" type="text" ng-model="address.LastName" ng-required="true" />
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <label>Company Name</label>
                    <input name="companyname" class="form-control" type="text" ng-model="address.CompanyName" />
                    <i class="fa fa-user"></i>
                </div>
                <!--<div>
                    <label ng-class="{required: isPhoneRequired}">Phone</label>
                    <input name="phone" class="form-control" type="text" ng-model="address.Phone" ui-mask="(999)999-9999" ng-required="isPhoneRequired()" />
                    <i class="fa fa-phone"></i>
                </div>-->
            </div>
            <div class="col-sm-6 view-form-icon">
                <div>
                    <label class="required">Address Line 1</label>
                    <input name="street1" class="form-control" type="text" ng-model="address.Street1" required />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label>Address Line 2</label>
                    <input name="street2" class="form-control" type="text" ng-model="address.Street2" />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div>
                    <label class="required">City</label>
                    <input name="city" class="form-control" type="text" ng-model="address.City" required />
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div ng-show="!hasStates()">
                            <label ng-class="{required: !hasStates}">State</label>
                            <input ng-show="!hasStates()" class="form-control" type="text" ng-model="address.State" ng-required="!hasStates()" />
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div ng-show="hasStates()">
                            <label ng-class="{required: hasStates}">State</label>
                            <select ng-show="hasStates()" class="form-control" ng-options="state.value as state.value for state in states | filter:country" ng-model="address.State" ng-required="hasStates()">
                            </select>
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div>
                            <label ng-class="{required: hasStates}">Zip</label>
                            <input name="zip" class="form-control" type="text" ng-model="address.Zip" ng-required="hasStates()" />
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="required">Country</label>
                    <select name="country" class="form-control" ng-options="country.value as country.label for country in countries" ng-model="address.Country" required />
                    <i class="fa fa-globe"></i>
                </div>
            </div>
        </div>
        <div style="display:none;">
            <div class="address-input-view-shipping">
                <label ng-show="user.Permissions.contains('CreateShipToAddress')" class="checkbox-label">
                    <input name="isShipping" type="checkbox" ng-model="address.IsShipping" ng-required="!address.IsBilling" /> Save to Shipping Address Book</label><br />
            </div>
            <div class="address-input-view-billing">
                <label ng-show="user.Permissions.contains('CreateBillToAddress')" class="checkbox-label">
                    <input name="isBilling" type="checkbox" ng-model="address.IsBilling" ng-required="!address.IsShipping" /> Save to Billing Address Book  </label><br />
                <span class="alert alert-warning" ng-show="addressEdit.isShipping.$invalid || addressEdit.isBilling.$invalid">An address must saved to the shipping, billing or both address books.</span>
            </div>
        </div>
        <span class="alert alert-warning" ng-show="objectExists">An address with that name already exists. Please specify another name</span><br />
        <button class="btn btn-small btn-danger" type="button" ng-click="cancel()">Cancel</button>
        <button ng-if="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')" class="btn btn-small btn-primary pull-right" type="button" ng-click="validate()" ng-disabled="addressEdit.$invalid" id="451_btn_user">Save</button>
    </form>
</div>