<div>
    <div ng-class="{'input-group': customfield.Prefix || customfield.Suffix}" ng-if="(customfield.InputType != 'email') && (customfield.Lines <= 1)">
        <span class="input-group-addon" ng-if="customfield.Prefix">{{customfield.Prefix}}</span>
        <input class="form-control" placeholder="{{customfield.Name | specnames}}" size="{{customfield.Width * .13}}" ng-maxlength="{{customfield.MaxLength}}" maxlength="{{customfield.MaxLength}}" ui-mask="{{customfield.MaskedInput}}" type="text" ng-required="{{customfield.Required}}" ng-model="customfield.Value" data-placement="top" data-container="body" data-trigger="focus" title="{{customfield.Name | specnames}}" bs-tooltip="customfield"/>
        <span class="input-group-addon" ng-if="customfield.Suffix">{{customfield.Suffix}}</span>
    </div>
    <div ng-class="{'input-group': customfield.Prefix || customfield.Suffix}" ng-if="(customfield.InputType == 'email') && (customfield.Lines <= 1)">
        <span class="input-group-addon" ng-if="customfield.Prefix">{{customfield.Prefix}}</span>
        <input class="form-control" placeholder="{{customfield.Name}}" size="{{customfield.Width * .13}}" ng-maxlength="{{customfield.MaxLength}}" maxlength="{{customfield.MaxLength}}" ui-mask="{{customfield.MaskedInput}}" type="email" ng-required="{{customfield.Required}}" ng-model="customfield.Value" data-placement="top" data-container="body" data-trigger="focus" title="{{customfield.Name | specnames}}" bs-tooltip="customfield"/>
        <span class="input-group-addon" ng-if="customfield.Suffix">{{customfield.Suffix}}</span>
    </div>
    <textarea class="form-control" ng-if="customfield.Lines > 1" placeholder="{{customfield.Name  | specnames}}" cols="{{customfield.Width * .13}} rows={{customfield.Lines}}" ng-maxlength="{{customfield.MaxLength}}" maxlength="{{customfield.MaxLength}}" ng-required="{{customfield.Required}}" ng-model="customfield.Value" data-placement="top" data-container="body" data-trigger="focus" title="{{customfield.Name | specnames}}" bs-tooltip="customfield"></textarea>
</div>