<div class="modal-content">
    <div class="modal-header ng-scope">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body ng-scope">
        <div>This order may take some time to process. Click OK to wait, or Submit and Go Home to return to the Home page. You will receive an email confirmation when your order has been processed.</div>
    </div>
    <div class="modal-footer ng-scope">
        <button class="btn btn-warning" ng-click="goHomeSubmit()">Submit and Go Home</button>
        <button class="btn btn-primary" ng-click="okSubmit()">OK, I'll Wait</button>
    </div>
</div>