<div>
    <span class="btn-group">
        <button class="btn btn-default" type="button"
                ng-show="user.Permissions.contains('PayByPO')"
                ng-click="tempOrder.PaymentMethod = 'PurchaseOrder'">
            <i ng-class="{'fa fa-check': tempOrder.PaymentMethod == 'PurchaseOrder' }"></i>
            Purchase Order
        </button>
        <button class="btn btn-default" type="button"
                ng-show="user.Permissions.contains('SubmitForApproval') && tempOrder.Approvals"
                ng-disabled="isSplitBilling"
                ng-click="tempOrder.PaymentMethod = 'Undetermined'">
            <i ng-class="{'fa fa-check': tempOrder.PaymentMethod == 'Undetermined' }"></i>
            Approval Order
        </button>
        <button class="btn btn-default" type="button"
                ng-if="user.Permissions.contains('PayByBudgetAccount') && SpendingAccounts[0]"
                ng-show="SpendingAccounts[0].Balance > 0"
                ng-click="setBudgetAccount((SpendingAccounts|filter:{AccountType.PurchaseCredit:true}).length)">
            <i ng-class="{'fa fa-check': tempOrder.PaymentMethod == 'BudgetAccount' }"></i>
            Spending Account
        </button>
        <button class="btn btn-default" type="button"
                ng-if="user.AvailableCreditCards.length > 0 && user.Permissions.contains('PayByCreditCard')"
                ng-click="tempOrder.PaymentMethod = 'CreditCard'">
            <i ng-class="{'fa fa-check': tempOrder.PaymentMethod == 'CreditCard' }"></i>
            Credit Card
        </button>
    </span>
    <div class="view-form-icon" ng-if="user.Permissions.contains('PayByBudgetAccount')" ng-show="tempOrder.PaymentMethod == 'BudgetAccount'">
        <div class="alert alert-success">
            {{selectedBudgetAccount.Label + ' - Balance: ' + (selectedBudgetAccount.Balance | currency)}}
        </div>
        <div class="row view-form-icon" ng-show="(SpendingAccounts|filter:{AccountType.PurchaseCredit:true}).length > 1">
            <div class="col-sm-6">
                <label ng-show="tempOrder.BudgetAccountID">Spending Account</label>
                <select class="form-control" placeholder="Spending Account"
                    ng-options="account.ID as (account.Label + ' - Balance: ' + (account.Balance | currency)) for account in SpendingAccounts | filter:{AccountType.PurchaseCredit:true}"
                    ng-model="tempOrder.BudgetAccountID"
                    ng-required="tempOrder.PaymentMethod == 'BudgetAccount'">
                </select>
                <i class="fa fa-dollar"></i>
            </div>
        </div>
        <hr/>
    </div>
    <div ng-if="user.Permissions.contains('PayByCreditCard')" ng-show="tempOrder.PaymentMethod == 'CreditCard' || isSplitBilling">
        <div class="row">
            <div class="col-sm-4">
                <div class="view-form-icon">
                    <div>
                        <label>Type</label>
                        <select id="credit-card-type" class="form-control"
                                ng-model="tempOrder.CreditCard.Type"
                                ng-change="cardTypeChange()"
                                ng-options="creditCard.Type as creditCard.DisplayName for creditCard in user.AvailableCreditCards"
                                ng-required="tempOrder.PaymentMethod == 'CreditCard'">
                        </select>
                        <i class="fa fa-credit-card"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="view-form-icon">
                    <div>
                        <label ng-class="{required: tempOrder.PaymentMethod == 'CreditCard' && !tempOrder.CreditCard.AccountNumber}" for="account-number" ng-show="tempOrder.CreditCard.AccountNumber || tempOrder.PaymentMethod == 'CreditCard'">Account Number</label>
                        <input id="account-number" class="form-control" ng-model="tempOrder.CreditCard.AccountNumber" ng-required="tempOrder.PaymentMethod == 'CreditCard'" type="text" ng-maxlength="16" autocomplete="false" placeholder="Account Number" />
                        <i class="fa">#</i>
                    </div>
                </div>
            </div>
            <div ng-if="user.Permissions.contains('CardholderName')" class="col-sm-8">
                <label ng-class="{required: tempOrder.PaymentMethod == 'CreditCard'}" for="cardholder-name" ng-show="tempOrder.CreditCard.CardholderName || tempOrder.PaymentMethod == 'CreditCard'">Cardholder Name</label>
                <input id="cardholder-name" class="form-control" ng-model="tempOrder.CreditCard.CardholderName" ng-required="tempOrder.PaymentMethod == 'CreditCard'" type="text" placeholder="Cardholder Name" />
                <i class="fa fa-user"></i>
            </div>
        </div>
        <div class="small-creditcard-inputs">
            <div class="view-form-icon">
                <div>
                    <label ng-class="{required: (tempOrder.PaymentMethod == 'CreditCard' && !tempOrder.CreditCard.ExpirationDate) || expDateInvalid}" for="expiration-date" ng-show="tempOrder.CreditCard.ExpirationDate || tempOrder.PaymentMethod == 'CreditCard'">Exp Date</label>
                    <input id="expiration-date" ng-class="{'input-invalid': expDateInvalid}" class="form-control" ng-model="tempOrder.CreditCard.ExpirationDate" ng-required="tempOrder.PaymentMethod == 'CreditCard'" type="text" ui-mask="99/99" placeholder="MM/YY" />
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <div class="view-form-icon">
                <div>
                    <label  ng-class="{required: (tempOrder.PaymentMethod == 'CreditCard' && !tempOrder.CreditCard.CVN) || cvnInvalid}" for="cvn" ng-show="tempOrder.CreditCard.CVN || tempOrder.PaymentMethod == 'CreditCard'">CVN</label>
                    <input id="cvn" ng-class="{'input-invalid': cvnInvalid}" class="form-control" ng-model="tempOrder.CreditCard.CVN" ng-required="tempOrder.PaymentMethod == 'CreditCard'" type="text" ng-maxlength="4" placeholder="CVN" />
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="checkbox" ng-if="user.Permissions.contains('AllowSaveCreditCard')">
            <label>
                <input style="min-height: 0;"
                       type="checkbox"
                       ng-model="tempOrder.CreditCard.Save"
                       ng-true-value="true"
                       ng-false-value="false">
                <small>Save my credit card information</small>
            </label>
        </div>
    </div>
</div>