/*
Static file for Theme changes
Theme name: My SPA Theme
Version: 1.0
Template: Howdy
*/
@media (min-width: 992px){
    .list-container {
        position: fixed;
        height: calc(100% - 235px);
        overflow-y: scroll;
        overflow-x:hidden;
        width: 24.5%;
    }
}

/* IE9 */
input.ng-invalid-required {
    border-color: #be0f34;
}

select.ng-invalid-required {
    border-color: #be0f34;
}

.credit-card-widget .view-form-icon > div.account-number-input .card-type-icon {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 34px;
    height: 20px;
    background-size: contain;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
.credit-card-widget .view-form-icon > div.account-number-input .card-type-icon.active {
    opacity: 1;
    right: 10px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
}

/* Ricoh Customizations */
.jumbotron {
    background-image: none;
    background-color: #6b9162;
}
.product-selection-view .col-md-2 > div.product-selector > div {
    background: #6b9162;
    background: -moz-linear-gradient(top,  #6b9162 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b9162), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #6b9162 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #6b9162 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #6b9162 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #6b9162 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b9162', endColorstr='#ffffff',GradientType=0 );
    min-height: 210px;
    cursor: pointer;
}
.product-selection-view .col-md-2 > div.product-selector > div h4.pname {
    color: #fff;
    font-weight: bold;
    padding: 15px 25px;
}