<section class="order-print-view">
    <div class="order-print-view-header" style="margin-bottom:10px;">
        <div>
            <figure>
                <img class="branding-print-view-logo" ng-src="{{user.Company.LogoUrl}}" />
            </figure>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="order-print-view-details col-xs-5">
                <div>
                    <h4>
                        {{'Order' | r}} {{'Details' | r}}
                    </h4>
                </div>
                <div>
                    <p ng-show="order.ExternalID">{{'Order' | r}} {{'ID' | r}}: <span style="float:right;">{{order.ExternalID}}</span></p>
                    <p ng-show="order.DateSubmitted">{{'Date' | r}} {{'Submitted' | r}}: <span style="float:right;">{{order.DateSubmitted | date:'short'}}</span></p>
                    <p ng-show="order.DateCompleted">{{'Date' | r}} {{'Completed' | r}}: <span style="float:right;">{{order.DateCompleted | date:'short'}}</span></p>
                    <p ng-show="order.FromUserFirstName || order.FromUserLastName">{{'Created By' | r}}: <span style="float:right;">{{order.FromUserFirstName + ' ' + order.FromUserLastName}}</span></p>
                    <p ng-show="order.Comments">{{'Comments' | r}}: <span style="float:right;">{{order.Comments}}</span></p>
                    <p ng-show="orderCostCenter">{{'Cost Center' | r}}: <span style="float:right;">{{(order.LineItems.length == 1) && order.LineItems[0].CostCenter || null}}</span></p>
                    <p ng-show="order.PaymentMethod != 'CreditCard'">{{'Payment' | r}} {{'Method' | r}}: <span style="float:right;">{{order.PaymentMethodText}}</span></p>
                    <p ng-show="order.PaymentMethod == 'CreditCard'">{{'Payment' | r}} {{'Method' | r}}: <span ng-show="order.CreditCard.ShortDisplay" style="float:right;">{{order.CreditCard.ShortDisplay}}</span></p>
                    <p ng-repeat="field in order.OrderFields" ng-if="field.Name == 'PONumber' && field.Value">{{'PO Number' | r}}: <span style="float:right;">{{field.Value}}</span></p>
                    <p ng-repeat="field in order.OrderFields" ng-if="field.Name == 'ExpenseCode' && field.Value">{{'Expense Code' | r}}: <span style="float:right;">{{field.Value}}</span></p>
                    <div style="margin-top:10px;">
                        <address ng-show="order.ShipAddress && order.ShipAddress.AddressName.indexOf('Email') == -1">
                            <span class="text-primary"><strong>{{'Ship to' | r}}</strong></span><br />
                            <span ng-show="order.LineItems[0].ShipFirstName || order.LineItems[0].ShipLastName">{{order.LineItems[0].ShipFirstName}} {{order.LineItems[0].ShipLastName}}</span>
                            <span ng-show="!order.LineItems[0].ShipFirstName || !order.LineItems[0].ShipLastName">{{order.ShipAddress.FirstName}} {{order.ShipAddress.LastName}}</span>
                            <br />{{order.ShipAddress.Street1}}<br>
                            {{order.ShipAddress.Street2}}<br ng-show="order.ShipAddress.Street2">
                            {{order.ShipAddress.City}}, {{order.ShipAddress.State}} {{order.ShipAddress.Zip}}
                            <div ng-if="order.ShipAddress.Country != 'US'">{{order.ShipAddress.Country}}</div>
                        </address>
                        <address ng-show="order.BillAddress && order.BillAddress.AddressName != 'Main Billing Address'">
                            <span class="text-primary"><strong>{{'Bill to' | r}}</strong></span><br />
                            <span ng-show="order.BillFirstName || order.BillLastName">{{order.BillFirstName}} {{order.BillLastName}}</span>
                            <span ng-show="!order.BillFirstName || !order.BillLastName">{{order.BillAddress.FirstName}} {{order.BillAddress.LastName}}</span>
                            <br />{{order.BillAddress.Street1}}<br>
                            {{order.BillAddress.Street2}}<br ng-show="order.BillAddress.Street2">
                            {{order.BillAddress.City}}, {{order.BillAddress.State}} {{order.BillAddress.Zip}}
                            <div ng-if="order.BillAddress.Country != 'US'">{{order.BillAddress.Country}}</div>
                        </address>
                    </div>
                </div>
            </div>
            <div ng-if="!(user.Permissions.contains('HidePricing'))" class="order-print-view-details col-xs-5 col-xs-offset-1">
                <div>
                    <h4>
                        {{'Order' | r}} {{'Summary' | r}}
                    </h4>
                </div>
                <div>
                    <p>{{'Subtotal' | r}}:<span style="float: right;">{{order.Subtotal | currency:"$"}}</span></p>
                    <p>{{'Shipping & Handling' | r}}: <span style="float: right;">{{order.ShippingCost | currency:"$"}}</span></p>
                    <p>{{'Tax' | r}}: <span style="float: right;">{{order.TaxCost | currency:"$"}}</span></p>
                    <p ng-if="order.Coupon">{{'Coupon' | r}} ({{order.Coupon.Label}}): <span style="float: right;">{{order.Coupon.OrderDiscount * -1 | currency}}</span></p>
                    <p>{{'Total' | r}}: <span style="float: right;">{{order.Total | currency:"$"}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="order-print-view-grid">
            <div class="order-print-view-line-items">
                <div>
                    <h3 style="margin:0; text-align: center; padding:5px 0; background-color:#000 !important; color:#fff !important; -webkit-print-color-adjust: exact;">
                        {{order.LineItems.length}} {{'Item' + (order.LineItems.length > 1 ? 's' : '') | rl}} in this {{'Order' | rl}}
                    </h3>
                </div>
                <div>
                    <div class="panel-order-history row" ng-repeat="item in order.LineItems" style="border-bottom:1px solid #ddd; padding:5px 0;">
                        <div class="col-sm-6 col-lg-5">
                            <div class="row">
                                <div class="col-xs-8">
                                    <b>{{item.Product.Name}}</b>
                                </div>
                                <div class="col-xs-4">
                                    <div ng-if="!(user.Permissions.contains('HidePricing'))" class="col-xs-12 col-sm-6">
                                        <p>
                                            <small class="text-info">{{'Total' | r}}</small><br />
                                            <span class="text-success">{{item.LineTotal | currency:"$"}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-7">
                            <div class="row">
                                <div class="col-xs-8">
                                    <p ng-show="item.Variant.Specs.FirstName1 || item.Variant.Specs.LastName1"><b>Recipient Name:</b> {{(item.Variant.Specs.FirstName1.Value + ' ' + item.Variant.Specs.LastName1.Value) || 'Anonymous'}}</p>
                                    <p ng-show="item.IsMerchantCard"><b>Quantity: </b>{{item.Quantity}}</p>
                                    <p ng-if="item.ShipperName">
                                        {{item.ShipperName | gcshipping}}
                                    </p>
                                </div>
                                <div class="col-xs-4" ng-if="(item.ShipperName | gcshipping) != 'Email Delivery'">
                                    <address ng-show="item.ShipAddress" style="margin-bottom:0;">
                                        <strong>{{'Ship to' | r}}</strong><br>
                                        {{item.ShipAddress.Street1}}<br>
                                        {{item.ShipAddress.Street2}}<br ng-show="item.ShipAddress.Street2">
                                        {{item.ShipAddress.City}}, {{item.ShipAddress.State}} {{item.ShipAddress.Zip}}
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="order.Approvals" class="order-print-approval-rule-status-summary">
                <div>
                    <h3>{{'Approvals' | r}}</h3>
                </div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>{{'Rule Summary' | r}}</th>
                            <th>{{'Approver' | r}}</th>
                            <th>{{'Status' | r}}</th>
                        </tr>
                        </thead>
                        <tbody class="order-print-approval-rule-summary-rule" ng-repeat="rule in order.Approvals">
                        <tr ng-class="{approved: rule.Status == 'Approved', declined: rule.Status == 'Declined'}">
                            <td><div ng-repeat="summary in rule.Summary">{{summary}}</div></td>
                            <td ng-hide="rule.ApprovedByUserName">
                                <span>{{rule.ApprovingPartyName}}</span>
                            <td>
                                <strong>{{rule.Status}}</strong><span ng-show="rule.ApprovedByUserName"> by </span>{{rule.ApprovedByUserName}}<span ng-show="rule.ApprovedByUserName"> on {{rule.TimeStamp | date:'short'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" data-ng-bind="rule.Comments"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>