<div class="view-form-icon" ng-class="{'view-form-icon-input-group':(customfield.Prefix || customfield.Suffix)}">
    <div ng-if="(customfield.InputType != 'email' && customfield.InputType != 'date') && (customfield.Lines <= 1)">
        <label>{{customfield.Placeholder || customfield.Label || customfield.Name | r | specnames}}</label>
        <div ng-class="{'input-group':(customfield.Prefix || customfield.Suffix)}">
            <span class="input-group-addon" ng-if="customfield.Prefix">{{customfield.Prefix | r}}</span>
            <input class="form-control" placeholder="{{customfield.Placeholder || customfield.Label || customfield.Name | r | specnames}}"  ng-readonly="customfield.ReadOnly" size="{{customfield.Width * .13}}" ng-maxlength="{{customfield.MaxLength}}" maxlength="{{customfield.MaxLength}}" ui-mask="{{customfield.MaskedInput}}" type="text" autocomplete="off" ng-required="{{customfield.Required}}" ng-model="customfield.Value"></input>
            <span class="input-group-addon" ng-if="customfield.Suffix">{{customfield.Suffix | r}}</span>
        </div>
        <i class="fa fa-edit"></i>
    </div>
    <div ng-if="(customfield.InputType == 'email') && (customfield.Lines <= 1)">
        <label>{{customfield.Placeholder || customfield.Label || customfield.Name | r | specnames}}</label>
        <div ng-class="{'input-group':(customfield.Prefix || customfield.Suffix)}">
            <span class="input-group-addon" ng-if="customfield.Prefix">{{customfield.Prefix | r}}</span>
            <input class="form-control" placeholder="{{customfield.Placeholder || customfield.Label || customfield.Name | r | specnames}}" ng-readonly="customfield.ReadOnly" size="{{customfield.Width * .13}}" ng-maxlength="{{customfield.MaxLength}}" maxlength="{{customfield.MaxLength}}" ui-mask="{{customfield.MaskedInput}}" type="email" autocomplete="off" ng-required="{{customfield.Required}}" ng-pattern="/^(([^<>()[\]\\.,;:\s@\']+(\.[^<>()[\]\\.,;:\s@\']+)*)|(\'.+\'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/" ng-model="customfield.Value"></input>
            <span class="input-group-addon" ng-if="customfield.Suffix">{{customfield.Suffix | r}}</span>
        </div>
        <i class="fa fa-edit"></i>
    </div>
    <div ng-if="(customfield.InputType == 'date') && (customfield.Lines <= 1)">
        <label>{{customfield.Label || customfield.Name}}<span style="color: rgb(128, 128, 128);font-size: x-small;"> (MM/DD/YYYY)</span></label>
        <!--Default Datepicker -->
        <input class="form-control hidden-lg hidden-md"
               type="date"
               ng-model="customfield.Value"
               ng-required="customfield.Required"
               style="margin:0; height:40px; padding-top:8px;"/>
        <div class="btn btn-default btn-block text-info hidden-lg hidden-md" ng-click="customfield = null">{{customfield.Value | date:'MM/dd/yyyy'}}</div>
        <input name="{{customfield.Name}}" placeholder="{{customfield.Label || customfield.Name}}" ng-model="customfield.Value" ng-required="customfield.Required"
               type="text"
               class="form-control hidden-sm hidden-xs"
               readonly="readonly"
               style="cursor: pointer; background-color:#FFF;"
               datepicker-popup="MM/dd/yyyy"
               data-placement="top"
               is-open="opened"
               min="currentDate"
               max="maxDate" />
        <i class="fa fa-calendar"></i>
    </div>
    <div ng-if="customfield.Lines > 1">
        <label>{{customfield.Label || customfield.Name | r | specnames}}</label>
        <div ng-class="{'input-group':(customfield.Prefix || customfield.Suffix)}">
            <span class="input-group-addon" ng-if="customfield.Prefix">{{customfield.Prefix | r}}</span>
            <textarea class="form-control" ng-attr-placeholder="{{customfield.Placeholder || customfield.Label || customfield.Name | r | specnames}}" ng-readonly="customfield.ReadOnly" cols="{{customfield.Width * .13}} rows={{customfield.Lines}}" ng-maxlength="{{customfield.MaxLength}}" maxlength="{{customfield.MaxLength}}" ng-required="{{customfield.Required}}" ng-model="customfield.Value"></textarea>
            <span class="input-group-addon" ng-if="customfield.Suffix">{{customfield.Suffix | r}}</span>
        </div>
        <i class="fa fa-edit"></i>
    </div>
</div>