<section class="cart-view">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
    <loadingindicator class="checkout-indicator" ng-show="orderSaveLoadingIndicator" title="Your order is now being processed. Please do not navigate away from this page or close your browser until the processing has completed." />
    <loadingindicator class="checkout-indicator" ng-show="orderSubmitLoadingIndicator" title="Your order is now being processed. Please do not navigate away from this page or close your browser until the processing has completed." />
    <div ng-show="tempOrder" class="hidden-print container">
    <div class="row">
    <div class="col-md-7">
    <h3 class="text-primary cart-title" ng-show="!orderSubmitLoadingIndicator">{{tempOrder.AwardCount}} AWARD{{tempOrder.AwardCount > 1 ? 'S' : ''}} IN YOUR CART <i class="fa fa-shopping-cart pull-right"></i></h3>
    <hr style="margin-bottom:5px;"/>
    <div style="margin-top:2px;" class="btn btn-link" ng-show="tempOrder.lineItemGroups.length > 0" ng-click="backToCustomization()"><i style="position:relative; top:3px;" class="fa pull-left fa-chevron-left"></i> Create More Awards</div>
    <div style="margin-top:2px;" class="btn btn-link" ng-show="tempOrder.merchantCardLineItems.length > 0"  ng-click="browseMerchantCards()"><i style="position:relative; top:3px;" class="fa pull-left fa-chevron-left"></i> Browse Merchant Cards</div>
    <hr style="margin-top:5px;"/>
    <form name="cart_order_fields">
    <div class="container white-wrapper" style="border:1px solid #ddd;padding-bottom: 10px;padding-top: 10px;margin-bottom: 20px;">
        <div style="margin-bottom: 10px;">
            <div class="row">
                <div class="col-sm-6">
                    <ul ng-if="!!orderfields">
                        <li ng-show="false" ng-repeat="field in tempOrder.OrderFields | gccustomorderfieldsnonemail : tempOrder.isAllDigital | filter:{Name:'OrderPlatform'}">
                            <input class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" />
                        </li>
                        <li ng-repeat="field in tempOrder.OrderFields | gccustomorderfieldsnonemail : tempOrder.isAllDigital | filter:{Name:'PONumber'}">
                            <div class="view-form-icon">
                                <label>{{field.Label || field.Name | r | specnames}} <span ng-show="field.HelpText" style="font-weight: normal;">{{field.HelpText}}</span></label>
                                <div>
                                    <input class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value"/>
                                </div>
                                <i class="fa fa-edit"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ul ng-if="!!orderfields">
                        <li ng-repeat="field in tempOrder.OrderFields | gccustomorderfieldsnonemail : tempOrder.isAllDigital | filter:{Name:'ExpenseCode'}">
                            <div class="view-form-icon">
                                <label>{{field.Label || field.Name | r | specnames}} <span ng-show="field.HelpText" style="font-weight: normal;">{{field.HelpText}}</span></label>
                                <div>
                                    <input class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" />
                                </div>
                                <i class="fa fa-edit"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ul ng-if="!!orderfields">
                        <li ng-repeat="field in tempOrder.OrderFields | gccustomorderfieldsnonemail : tempOrder.isAllDigital | filter:{Name:'Promo_Code'}">
                            <div class="view-form-icon">
                                <label>{{field.Label || field.Name | r | specnames}} <span ng-show="field.HelpText" style="font-weight: normal;">{{field.HelpText}}</span></label>
                                <div>
                                    <input class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" />
                                </div>
                                <i class="fa fa-edit"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-hide="tempOrder.merchantCardsAllDigital">
            <div>
                <p><b>Personalize Physical Merchant Gift Cards Message Sheet: </b><span class="label label-default">Optional</span></p>
                <p><small>You may enter a personalized message to be included in the envelope with you merchant gift cards. Only one message sheet will be included per order.</small></p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li ng-repeat="field in tempOrder.OrderFields | gccustomorderfieldsnonemail : tempOrder.isAllDigital | filter:{Name:'Opening'}">
                            <div class="view-form-icon">
                                <label>{{field.Label || field.Name | r | specnames}} <span ng-show="field.HelpText" style="font-weight: normal;">{{field.HelpText}}</span></label>
                                <div>
                                    <input class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" />
                                </div>
                                <i class="fa fa-edit"></i>
                            </div>
                        </li>
                    </ul>
                    <div>{{cart_order_fields.Opening}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ul ng-if="!!orderfields">
                        <li ng-repeat="field in tempOrder.OrderFields | gccustomorderfieldsnonemail : tempOrder.isAllDigital | filter:{Name:'Message'}">
                            <div class="view-form-icon">
                                <label>{{field.Label || field.Name | r | specnames}} <span ng-show="field.HelpText" style="font-weight: normal;">{{field.HelpText}}</span></label>
                                <div>
                                    <textarea class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value"></textarea>
                                </div>
                                <i class="fa fa-edit"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ul ng-if="!!orderfields">
                        <li ng-repeat="field in tempOrder.OrderFields | gccustomorderfieldsnonemail : tempOrder.isAllDigital | filter:{Name:'Closing'}">
                            <div class="view-form-icon">
                                <label>{{field.Label || field.Name | r | specnames}} <span ng-show="field.HelpText" style="font-weight: normal;">{{field.HelpText}}</span></label>
                                <div>
                                    <input class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" />
                                </div>
                                <i class="fa fa-edit"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </form>
    <form name="cart_line_item_groups">
    <div class="recipient-groups">
        <div ng-show="tempOrder.lineItemGroups.length > 1">
            <div>Assign Shipping Method to all line items:</div>
            <div>
                <div class="form-group">
                    <select class="form-control"
                            ng-change="updateAllShippers()"
                            name="shipMethod"
                            ng-model="tempOrder.ShipMethod"
                            ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown' && !group.IsDigital"
                            ng-options="shipper.Name as shipper.Name for shipper in shippers | gcshippers : tempOrder.Total:tempOrder.LineItems.length:false">
                        <option class="view-select-placeholder" value="" selected="selected">Select a shipping method...</option>
                    </select>
                </div>
            </div>
        </div>
        <div ng-repeat="group in tempOrder.lineItemGroups | paginate:(pagination.IdentifiedPage-1) * pagination.IdentifiedLimit | limitTo:pagination.IdentifiedLimit" ng-if="!group.Anonymous">
            <div class="white-wrapper" style="border:1px solid #ddd;">
                <div class="container" style="padding:0 10px;">
                    <h4>
                        <span class="pull-right text-success"><b>{{group.Total | currency}}</b></span>
                        <span style="cursor:pointer;" class="text-info" ng-click="toggleLineItems = !toggleLineItems"><span ng-show="!group.IsDigital">(Package {{($index + 1) + (pagination.IdentifiedPage > 1 ? ((pagination.IdentifiedPage-1) * 10) : 0)}}) with </span>{{group.LineItems.length}}
                            <span ng-show="group.IsDigital">digital</span> award{{group.LineItems.length > 1 ? 's' : ''}}</span>
                        <span ng-show="!group.IsDigital"> shipping to <b>{{group.Address.FirstName + ' ' + group.Address.LastName}}</b><br/>
                            <p><small><i class="fa fa-map-marker"></i> {{group.Address.Street1}} {{group.Address.Street2}} {{group.Address.City}}, {{group.Address.State}}</small></p>
                        </span>
                    </h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="form-group">
                                <label style="font-size:11px;" ng-show="!group.IsDigital">Select a shipping method</label>
                                <select class="form-control"
                                        ng-change="updateGroupShipper(group)"
                                        name="shipMethod"
                                        ng-model="group.ShipMethod"
                                        ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown' && !group.IsDigital"
                                        ng-options="shipper.Name as shipper.Name for shipper in shippers | gcshippers : group.Total:group.LineItems.length:group.IsDigital"
                                        ng-required="tempOrder.lineItemGroups.length > 0">
                                    <option class="view-select-placeholder" value="" selected="selected">Select a shipping method...</option>
                                </select>
                                <div style="margin:10px 0;" ng-show="group.IsDigital">
                                    <b>Email Delivery</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 text-right">
                            <i style="cursor:pointer;" class="text-danger fa fa-2x fa-times" ng-click="removeGroup(group)"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="recipient-group-line-items" collapse="(group.LineItems.length > 1) && !toggleLineItems">
                <div style="border-right:1px solid #ddd; border-left:1px solid #ddd;" class="container line-item-recipient-repeater" ng-repeat="lineitem in group.LineItems | paginate:(group.Page-1) * group.Limit | limitTo:group.Limit">
                    <div class="row" style="padding:5px;" ng-class="{'white-wrapper':$even}">
                        <div ng-class="{'col-xs-5':group.LineItems.length > 1, 'col-xs-6':group.LineItems.length == 1}">
                            <b>{{lineitem.Variant.Specs['FirstName1'].Value}} {{lineitem.Variant.Specs['LastName1'].Value}}<span ng-show="group.IsDigital"> {{lineitem.Variant.Specs['Email1'].Value}}</span></b>
                            <p class="pull-right">
                                <span ng-show="lineitem.ProductType == 'Premium'"><span class="text-success" style="font-weight:bold;">{{lineitem.FaceValue | currency}}</span> + <span class="text-info"> {{lineitem.LineTotal - lineitem.UnitPrice -lineitem.FaceValue | currency}}</span> + <span class="text-info">{{lineitem.UnitPrice | currency}}</span></span>
                                <span ng-show="lineitem.ProductType != 'Premium'"><span class="text-success" style="font-weight:bold;"> {{lineitem.LineTotal - lineitem.UnitPrice | currency}}</span> + <span class="text-info">{{lineitem.UnitPrice | currency}}</span></span>
                            </p><br/>
                            <span class="text-info">{{lineitem.Product.Name}}</span>
                        </div>
                        <div class="col-xs-4" ng-hide="group.LineItems.length == 1" ng-init="showPreview = false">
                            <i ng-click="showPreview = !showPreview" style="cursor:pointer;" class="fa text-muted fa-2x" ng-class="{'fa-circle-o':!showPreview, 'fa-circle':showPreview}"></i> <span ng-click="showPreview = !showPreview" class="text-muted" style="position:relative; top:-5px; cursor:pointer;">PREVIEW</span>
                            <i ng-click="editAward(lineitem, $index)" style="cursor:pointer;" class="fa fa-2x text-muted fa-edit"></i> <span ng-click="editAward(lineitem, $index)" class="text-muted" style="position:relative; top:-5px; cursor:pointer;">EDIT</span>
                        </div>
                        <div class="col-xs-6 text-right text-muted" ng-show="group.LineItems.length == 1" ng-init="showPreview = false">
                            <i ng-click="showPreview = !showPreview" style="cursor:pointer; padding-top:5px;" class="fa fa-2x" ng-class="{'fa-circle-o':!showPreview, 'fa-circle':showPreview}"></i> <span ng-click="showPreview = !showPreview" style="cursor:pointer; position:relative; top:-5px; margin-left:5px;margin-right:5px;">PREVIEW</span>
                            <i ng-click="editAward(lineitem, $index)" style="cursor:pointer; padding-top:5px;" class="fa fa-2x fa-edit"></i> <span ng-click="editAward(lineitem, $index)" style="cursor:pointer; position:relative; top:-5px; margin-left:5px;">EDIT</span>
                        </div>
                        <div class="col-xs-2 text-right" ng-show="group.LineItems.length > 1">
                            <!--<select class="form-control" ng-change="updateLineItemShipper(lineitem)" name="shipMethod"
                                    ng-model="lineitem.ShipMethod"
                                    ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown' && !group.IsDigital"
                                    ng-options="shipper.Name as shipper.Name for shipper in shippers | gcshippers : currentOrder.Total:currentOrder.LineItems.length:group.IsDigital"
                                    ng-required="!shipToMultipleAddresses && user.ShipMethod != null">
                                <option class="view-select-placeholder" value="" selected="selected">Select a shipping method...</option>
                            </select>-->
                            <div style="margin:10px 0;" ng-show="group.IsDigital">
                                <b>Email Delivery</b>
                                <p>{{lineitem.Specs.FutureShipDate.Value}}</p>
                            </div>
                        </div>
                        <div class="col-xs-1 text-center" ng-show="group.LineItems.length > 1">
                            <i class="fa fa-times text-danger" style="padding:12px; cursor:pointer;" ng-click="removeItem(lineitem)" data-placement="right" data-html="1" data-title="<small>REMOVE ITEM</small>" bs-tooltip></i>
                        </div>
                    </div>
                    <div class="row" collapse="!showPreview">
                        <div class="container" style="padding:15px;">
                            <div class="col-xs-12 text-center text-muted" ng-show="!group.IsDigital" ng-init="showEnvelope = false" ng-click="showEnvelope = !showEnvelope"><span style="cursor:pointer;"><span ng-show="!showEnvelope">View</span><span ng-show="showEnvelope">Hide</span> Envelope</span></div>
                            <div class="col-xs-12" ng-show="lineitem.Product.ExternalID.indexOf('SCP-FD') > -1 || lineitem.Product.ExternalID.indexOf('SCP-PS') > -1 || lineitem.Product.ExternalID.indexOf('SCP-SC') > -1" collapse="!showEnvelope">
                                <div class="container" style="margin-bottom:20px;background-image:url('css/images/CenveoEnvelope.jpg');width:867px;height:377px;">
                                    <div style="color: #31708f;font-size: 75%;line-height: 1;margin-left: 90px;margin-top: 260px;">
                                        <div ng-show="lineitem.Variant.Specs['EnvelopeLineTwo1'].Value">
                                            <div>{{lineitem.Variant.Specs['EnvelopeLineTwo1'].Value}}</div>
                                        </div>
                                        <div ng-show="!lineitem.Variant.Specs['EnvelopeLineTwo1'].Value && (lineitem.Variant.Specs['FirstName1'].Value || lineitem.Variant.Specs['LastName1'].Value)">
                                            <div>{{lineitem.Variant.Specs['FirstName1'].Value}} {{lineitem.Variant.Specs['LastName1'].Value}}</div>
                                        </div>
                                        <div ng-show="!lineitem.Variant.Specs['EnvelopeLineTwo1'].Value && group.LineItems.length == 1">
                                            <div>{{group.Address.Street1}}</div>
                                            <div>{{group.Address.Street2}}</div>
                                            <div>{{group.Address.City}}, {{group.Address.State}} {{group.Address.Zip}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" ng-show="lineitem.Product.ExternalID.indexOf('SCP-GC') > -1" collapse="!showEnvelope">
                                <div class="container" style="margin-bottom:20px;background-image:url('css/images/A9Envelope.jpg');width:867px;height:628px;">
                                    <div style="color: #31708f;font-size: 75%;line-height: 1;margin-left: 130px;margin-top: 470px;">
                                        <div ng-show="lineitem.Variant.Specs['EnvelopeLineTwo1'].Value">
                                            <div>{{lineitem.Variant.Specs['EnvelopeLineTwo1'].Value}}</div>
                                        </div>
                                        <div ng-show="!lineitem.Variant.Specs['EnvelopeLineTwo1'].Value && (lineitem.Variant.Specs['FirstName1'].Value || lineitem.Variant.Specs['LastName1'].Value)">
                                            <div>{{lineitem.Variant.Specs['FirstName1'].Value}} {{lineitem.Variant.Specs['LastName1'].Value}}</div>
                                        </div>
                                        <div ng-show="!lineitem.Variant.Specs['EnvelopeLineTwo1'].Value && group.LineItems.length == 1">
                                            <div>{{group.Address.Street1}}</div>
                                            <div>{{group.Address.Street2}}</div>
                                            <div>{{group.Address.City}}, {{group.Address.State}} {{group.Address.Zip}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <loadingindicator ng-show="lineitem.loadingImage" />
                                <figure>
                                    <img width="100%" ng-attr-id="{{lineitem.UniqueID}}" ng-src="{{showPreview ? lineitem.Variant.PreviewUrl : ''}}" imageonload/>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="group.LineItems.length > group.Limit">
                    <pagination page="group.Page" total-items="group.LineItems.length" max-size="10" rotate="false" boundary-links="true"
                                items-per-page="group.Limit" direction-links="false"></pagination>
                </div>
            </div>
            <div style="margin-bottom:20px; border-right:1px solid #ddd; border-left:1px solid #ddd;">
                <div class="container bg-dark">
                    <p style="cursor:pointer; padding:15px 0 11px 0; margin-bottom:0;" class="text-center" ng-init="toggleLineItems = false" ng-click="toggleLineItems = !toggleLineItems" ng-show="group.LineItems.length > 1">
                        <span ng-show="toggleLineItems == false"><i class="fa fa-plus-circle"></i> Show </span>
                        <span ng-show="toggleLineItems == true"><i class="fa fa-minus-circle"></i> Hide </span>
                        Recipients
                    </p>
                </div>
            </div>
        </div>
        <div ng-show="tempOrder.lineItemGroups.length > pagination.IdentifiedLimit">
            <pagination page="pagination.IdentifiedPage" total-items="tempOrder.lineItemGroups.length" max-size="10" rotate="false" boundary-links="true"
                        items-per-page="pagination.IdentifiedLimit" direction-links="false"></pagination>
        </div>
        <div ng-repeat="group in tempOrder.lineItemGroups" ng-if="group.Anonymous">
            <div class="white-wrapper" style="border:1px solid #ddd;">
                <div class="container" style="padding:0 10px;">
                    <h4>
                        <span class="pull-right text-success"><b>{{group.Total | currency}}</b></span>
                                        <span style="cursor:pointer;" class="text-info" ng-click="toggleLineItems = !toggleLineItems">
                                            (Package {{$index + 1}}) with {{group.LineItems[0].Quantity}} anonymous
                                            <span ng-show="group.IsDigital">digital</span> award{{group.LineItems[0].Quantity > 1 ? 's' : ''}}</span>
                        </span>
                    </h4>
                    <div ng-show="tempOrder.anonymousShipAddressForm" class="row">
                        <addressinput address='shipaddress' user='user'></addressinput>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="view-form-icon">
                                <div style="margin-bottom:10px;">
                                    <div class="input-group">
                                        <label style="font-size:11px;" ng-show="!group.IsDigital">Select a shipping address</label>
                                        <select class="form-control" name="shippingAddress"
                                                ng-change="setShipAddress(tempOrder.AnonymousShipAddress)"
                                                ng-options="address.ID as address.AddressName for address in addresses | filter:{IsCustEditable:true,IsShipping:true}"
                                                ng-model="tempOrder.AnonymousShipAddressID"
                                                ng-required="true">
                                            <option class="view-select-placeholder" value="" selected="selected">Select a shipping address...</option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" ng-click="tempOrder.anonymousShipAddressForm = true" type="button">New</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-form-icon">
                                <div>
                                    <label style="font-size:11px;" ng-show="!group.IsDigital">Select a shipping method</label>
                                    <select class="form-control"
                                            ng-change="updateGroupShipper(group)"
                                            name="shipMethod"
                                            ng-model="group.ShipMethod"
                                            ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown' && !group.IsDigital"
                                            ng-options="shipper.Name as shipper.Name for shipper in shippers | gcshippers : tempOrder.Total:tempOrder.LineItems.length:group.IsDigital"
                                            ng-required="true">
                                        <option class="view-select-placeholder" value="" selected="selected">Select a shipping method...</option>
                                    </select>
                                    <div style="margin:10px 0;" ng-show="group.IsDigital">
                                        <b>Email Delivery</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 text-right">
                            <i style="cursor:pointer;" class="text-danger fa fa-2x fa-times" ng-click="removeGroup(group)" data-placement="right" data-title="REMOVE GROUP" bs-tooltip></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="recipient-group-line-items" ng-show="(group.LineItems.length == 1) || toggleLineItems">
                <div style="border-right:1px solid #ddd; border-left:1px solid #ddd;" class="container line-item-recipient-repeater" ng-repeat="lineitem in group.LineItems">
                    <div class="row" style="padding:5px;" ng-class="{'white-wrapper':$even}">
                        <div ng-class="{'col-xs-5':group.LineItems.length > 1, 'col-xs-6':group.LineItems.length == 1}">
                            <b>{{lineitem.Variant.Specs['FirstName1'].Value}} {{lineitem.Variant.Specs['LastName1'].Value}}</b><p class="pull-right"><span class="text-success" style="font-weight:bold;"> {{lineitem.LineTotal - (lineitem.UnitPrice * lineitem.Quantity) | currency}}</span> + <span class="text-info">{{(lineitem.UnitPrice * lineitem.Quantity) | currency}}</p><br/>
                            <span class="text-info">{{lineitem.Product.Name}}</span>
                        </div>
                        <div class="col-xs-1" ng-hide="group.LineItems.length == 1">
                            <i style="cursor:pointer;" class="fa text-muted fa-2x" ng-class="{'fa-circle-o':!showPreview, 'fa-circle':showPreview}" ng-init="showPreview = false" ng-click="showPreview = !showPreview"></i>
                            <i style="cursor:pointer;" class="fa text-muted fa-2x fa-edit" ng-click="editAward(lineitem, $index)"></i>
                        </div>
                        <div class="col-xs-6 text-right text-muted" ng-show="group.LineItems.length == 1" ng-init="showPreview = false">
                            <i ng-click="showPreview = !showPreview" style="cursor:pointer; padding-top:5px;" class="fa fa-2x" ng-class="{'fa-circle-o':!showPreview, 'fa-circle':showPreview}"></i> <span ng-click="showPreview = !showPreview" style="cursor:pointer; position:relative; top:-5px; margin-left:10px;">PREVIEW</span>
                            <i ng-click="editAward(lineitem, $index)" style="cursor:pointer; padding-top:5px;" class="fa fa-2x fa-edit"></i> <span ng-click="editAward(lineitem, $index)" style="cursor:pointer; position:relative; top:-5px; margin-left:10px;">EDIT</span>
                        </div>
                        <div class="col-xs-5 text-right" ng-show="group.LineItems.length > 1">
                            <select class="form-control" ng-change="updateLineItemShipper(lineitem)" name="shipMethod"
                                    ng-model="lineitem.ShipMethod"
                                    ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown' && !group.IsDigital"
                                    ng-options="shipper.Name as shipper.Name for shipper in shippers | gcshippers : tempOrder.Total:tempOrder.LineItems.length:group.IsDigital"
                                    ng-required="!shipToMultipleAddresses && user.ShipMethod != null">
                                <option class="view-select-placeholder" value="" selected="selected">Select a shipping method...</option>
                            </select>
                            <div style="margin:10px 0;" ng-show="group.IsDigital">
                                <b>Email Delivery</b>
                            </div>
                        </div>
                        <div class="col-xs-1 text-center" ng-show="group.LineItems.length > 1">
                            <i class="fa fa-times text-danger" style="padding:12px; cursor:pointer;" ng-click="removeItem(lineitem)" data-placement="right" data-html="1" data-title="<small>REMOVE ITEM</small>" bs-tooltip></i>
                        </div>
                    </div>
                    <div class="row" collapse="!showPreview">
                        <div class="container" style="padding:15px;">
                            <loadingindicator ng-show="lineitem.loadingImage" />
                            <figure>
                                <img width="100%" ng-attr-id="{{lineitem.UniqueID}}" ng-src="{{showPreview ? lineitem.Variant.PreviewUrl : ''}}" imageonload/>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-bottom:20px; border-right:1px solid #ddd; border-left:1px solid #ddd;">
                <div class="container bg-dark">
                    <p style="cursor:pointer; padding:15px 0 11px 0; margin-bottom:0;" class="text-center" ng-init="toggleLineItems = false" ng-click="toggleLineItems = !toggleLineItems" ng-show="group.LineItems.length > 1">
                        <span ng-show="toggleLineItems == false"><i class="fa fa-plus-circle"></i> Show </span>
                        <span ng-show="toggleLineItems == true"><i class="fa fa-minus-circle"></i> Hide </span>
                        Recipients
                    </p>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="merchant-cards">
        <div ng-repeat="item in tempOrder.merchantCardLineItems | paginate:(pagination.MerchantPage-1) * pagination.MerchantLimit | limitTo:pagination.MerchantLimit" class="cart-view-line-items-repeater">
            <div class="row">
                <div class="col-xs-2">
                    <div class="view-form-icon">
                        <div style="margin-top:0;">
                            <quantityfield lineitem="item" class="quantity"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <h4><b class="text-info">{{item.Product.Name | gcproductnames}}{{item.Quantity > 1 ? 's' : ''}}</b>
                        <span class="pull-right text-success">{{item.LineTotal | currency}}</span>
                    </h4>
                    <span class="pull-right text-success" ng-show="item.Markup"><span ng-show="item.Quantity > 1">(</span>{{item.Denomination | currency}} + {{item.Markup | currency}}<span ng-show="item.Quantity > 1">) x {{item.Quantity}}</span></span>
                </div>
                <div class="col-xs-2">
                    <i style="cursor:pointer; margin-right:-15px; padding-right:15px;" class="text-danger fa fa-2x fa-times pull-right" ng-click="removeItem(item)"></i>
                    <i style="cursor:pointer; margin-right:-15px; padding-right:15px;" class="fa fa-2x fa-edit pull-right" ng-show="item.Specs.Email1 && !item.Editing" ng-click="editMerchantCard(item)"></i>
                </div>
            </div>
            <div class="row" collapse="!item.Editing">
                <form name="editSpecsForm">
                    <div class="col-md-4">
                        <div id="451_list_vspec">
                            <div class="form-group" ng-repeat="s in item.Specs" ng-if="!(s.DefaultValue) && (s.Name == 'Email1' || s.Name == 'Subject1')">
                                <customtextfield customfield="s" ng-if="s.ControlType == 'Text'"></customtextfield>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="451_list_vspec">
                            <div class="form-group" ng-repeat="s in item.Specs" ng-if="!(s.DefaultValue) && (s.Name == 'Message1')">
                                <customtextfield customfield="s" ng-if="s.ControlType == 'Text'"></customtextfield>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn btn-sm btn-success cart-view-line-items-remove-button" ng-click="updateMerchantCard(item)">Update</div>
                        <div class="btn btn-sm btn-danger cart-view-line-items-remove-button" ng-click="cancelEditMerchantCard(item)">Cancel</div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-show="tempOrder.merchantCardLineItems.length > 0 && !tempOrder.merchantCardsAllDigital" class="bg-dark row" style="border-right:1px solid #ddd; border-left:1px solid #ddd;">
            <div class="container" style="padding-top:10px;">
                <div ng-show="shipaddressform" class="row">
                    <addressinput address='shipaddress' user='user'></addressinput>
                </div>
                <form name="cart_merchant_shipping" ng-show="!shipaddressform" >
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label class="{required: !tempOrder.MerchantCardShipAddressID}" style="font-size:11px;">Select a shipping address</label>
                                <div class="input-group">
                                    <select class="form-control"
                                            name="shippingAddress"
                                            ng-options="address.ID as address.AddressName for address in addresses | filter:{IsShipping:true} | gcshipaddress:false"
                                            ng-model="tempOrder.MerchantCardShipAddressID"
                                            ng-change="setShipAddress()"
                                            ng-required="tempOrder.merchantCardLineItems.length > 0 && !tempOrder.merchantCardsAllDigital">
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="shipaddressform = true" tabindex="-1">New</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-show="user.ShipMethod != null && shippers">
                                <label ng-class="{required: !tempOrder.MerchantCardShipMethod}" style="font-size:11px;">Select a shipping method</label>
                                <select class="form-control" name="shipMethod"
                                        ng-model="tempOrder.MerchantCardShipMethod"
                                        ng-change="setShipper()"
                                        ng-options="shipper.Name as shipper.Name for shipper in shippers | gcshippers : tempOrder.Total:currentOrder.LineItems.length:tempOrder.cartModifiers.isAllDigitalMerchant"
                                        ng-required="tempOrder.merchantCardLineItems.length > 0 && !tempOrder.merchantCardsAllDigital" >
                                    <option class="view-select-placeholder" value="" selected="selected">Select shipping method...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="tempOrder.merchantCardLineItems && tempOrder.merchantCardLineItems.length > pagination.MerchantLimit">
            <pagination page="pagination.MerchantPage" total-items="tempOrder.merchantCardLineItems.length" max-size="10" rotate="false" boundary-links="true"
            items-per-page="pagination.MerchantLimit" direction-links="false"></pagination>
        </div>
    </div>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'Order Summary' | r}}</h3>
            </div>
            <div class="panel-body">
                <p class="text-right"><span class="pull-left text-info">Subtotal:</span>{{tempOrder.SubTotal | currency}}</p>
                <p class="text-right"><span class="pull-left text-info">Shipping and Handling:</span>{{tempOrder.ShippingTotal | currency}}</p>
                <p class="text-right"><span class="pull-left text-info">Total:</span>{{tempOrder.Total | currency}}</p>
                <div class="alert alert-info" style="padding:7px;" ng-show="tempOrder.merchantCardLineItems.length > 0 || !tempOrder.isAllDigital">
                    <small>
                        <div ng-show="tempOrder.merchantCardLineItems.length > 0">
                            <p>*The service fee for each product is included in the total price.</p>
                            <p>If your order is for merchant gift cards, please be aware that all physical gift cards will ship together. If one or more gift cards selected is out of stock, shipment of this order will be delayed.</p>
                            <p>*E-gift cards cannot be returned or exchanged.</p>
                        </div>
                        <div ng-show="!tempOrder.isAllDigital">
                            <p style="margin-bottom: 0px;">*Orders placed after 2 p.m. EST will be shipped the following business day.</p>
                        </div>
                    </small>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="padding-top:18px; padding-bottom:18px;">
                    {{'Billing Info' | r}}<br/>
                    <p style="margin:0;"><small ng-class="{'text-danger': cart_billing.$invalid}">{{!cart_billing.$invalid ? 'Ready for submission' : 'Missing required fields'}}</small></p></h3>
            </div>
            <div class="panel-body">
                <div ng-show="billaddressform || (addresses | filter:{IsBilling:true}).length == 0 && user.Permissions.contains('CreateBillToAddress') && !addressesLoading" class="row">
                    <addressinput address='billaddress' user='user'></addressinput>
                </div>
                <!--<b>Subtotal:</b>-->
                <!--<span>{{tempOrder.Total | currency}}</span>-->
                <form name="cart_billing" ng-show="billaddressform || (addresses | filter:{IsBilling:true}).length > 0">
                    <orderbillinggc></orderbillinggc>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="view-footer navbar-fixed-bottom">
            <div class="view-response-message alert-success" alert-show="actionMessage">
                <p>{{actionMessage}}</p>
            </div>
            <div class="view-response-message alert-danger" alert-show="actionErrorMessage">
                <p>{{actionErrorMessage}}</p>
            </div>
            <div class="view-error-message alert-warning" style="padding:10px 0;" ng-show="errorMessages.length > 0 && displayErrorMessages">
                <ul class="row" ng-init="errorLimit = 1">
                    <li class="col-sm-1  text-center">
                        <i class="fa fa-exclamation-circle text-danger"></i>
                        <span class="badge" ng-show="errorMessages.length > 0">{{errorMessages.length}}</span>
                    </li>
                    <li class="col-sm-10 text-center" style="margin: 0; padding:0;">
                        <ul>
                            <li ng-repeat="error in errorMessages | limitTo:errorLimit">{{error}}</li>
                        </ul>
                    </li>
                    <li class="col-sm-1 text-center" ng-click="(errorLimit > 1) ? (errorLimit = 1) : (errorLimit = 50)"><a class="fa fa-caret-down" ng-class="{'fa-caret-up':errorLimit == 1}"></a></li>
                </ul>
            </div>
            <ul class="view-footer-buttons">
                <li style="width: 25%;">
                    <button class="btn btn-danger" ng-click="cancelOrder()" ng-disabled="orderSubmitLoadingIndicator">Cancel</button>
                </li>
                <li style="width: 25%;">
                    <button class="btn btn-primary" ng-click="saveChanges()" ng-disabled="orderSubmitLoadingIndicator">
                        <loadingindicator ng-show="displayLoadingIndicator" />
                        Save
                    </button>
                </li>
                <li>
                    <button class="btn" ng-class="{'btn-warning': (errorMessages.length > 0 || cart_billing.$invalid || cart_merchant_shipping.$invalid || (cart_line_item_groups.$invalid && !tempOrder.AnonymousShipAddressID)), 'btn-success': (!cart_billing.$invalid && !cart_merchant_shipping.$invalid && (!cart_line_item_groups.$invalid || tempOrder.AnonymousShipAddressID)) }" ng-click="submitOrder()" ng-disabled="orderSaveLoadingIndicator || errorMessages.length > 0 || cart_billing.$invalid || cart_merchant_shipping.$invalid || (cart_line_item_groups.$invalid && !tempOrder.AnonymousShipAddressID)">
                        <i ng-show="cart_billing.$invalid || cart_merchant_shipping.$invalid || (cart_line_item_groups.$invalid && !tempOrder.AnonymousShipAddressID)" class="fa fa-warning"></i>
                        <span>PAY {{tempOrder.Total | currency}}</span>
                    </button>
                </li>
            </ul>
    </div>
    <cartprint class="visible-print" />
    </div>
</div>
</div>
</section>

