<section class="cart-view">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="text-primary cart-title">{{currentOrder.LineItems.length}} AWARD{{currentOrder.LineItems.length > 1 ? 'S' : ''}} IN YOUR CART <i class="fa fa-shopping-cart pull-right"></i></h3>
                    <hr style="margin-bottom:5px;"/>
                    <div style="margin-top:2px;" class="btn btn-link" ng-show="currentOrder.LineItems.length > 0" ng-click="backToCustomization()"><i style="position:relative; top:3px;" class="fa pull-left fa-chevron-left"></i> Create More Awards</div>
                    <hr style="margin-top:5px;"/>
                    <form name="cart_order_fields" ng-show="(currentOrder.MerchantCardCount > 0 && currentOrder.HasPhysicalMerchantCards) || (currentOrder.OrderFields | onproperty:[{Property: 'Filtered', Value: false}]).length > 0" novalidate="">
                        <div class="container white-wrapper" style="border:1px solid #ddd;padding-bottom: 10px;padding-top: 10px;margin-bottom: 20px;">
                            <div style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li ng-repeat="field in currentOrder.OrderFields | onproperty:[{Property: 'Filtered', Value: false}]">
                                                <customtextfield customfield="field" ng-if="field.ControlType == 'Text'"></customtextfield>
                                                <customselectionfield change="specChanged" customfield="field" ng-if="field.ControlType == 'Selection'"></customselectionfield>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="currentOrder.MerchantCardCount > 0 && currentOrder.HasPhysicalMerchantCards">
                                <div>
                                    <p><b>Personalize Physical Merchant Gift Cards Message Sheet: </b><span class="label label-default">Optional</span></p>
                                    <p><small>You may enter a personalized message to be included in the envelope with you merchant gift cards. Only one message sheet will be included per order.</small></p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li ng-repeat="field in currentOrder.OrderFields | gccustomorderfieldsnonemail : currentOrder.IsAllDigital | filter:{Name:'Opening'}">
                                                <div class="view-form-icon">
                                                    <label>{{field.Label || field.Name | r | specnames}} <span style="font-weight: normal;">(Up to {{field.MaxLength}} characters)</span></label>
                                                    <div>
                                                        <input class="form-control" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" ng-required="{{field.Required}}" ng-maxlength="{{field.MaxLength}}" />
                                                    </div>
                                                    <i class="fa fa-edit"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li ng-repeat="field in currentOrder.OrderFields | gccustomorderfieldsnonemail : currentOrder.IsAllDigital | filter:{Name:'Message'}">
                                                <div class="view-form-icon">
                                                    <label>{{field.Label || field.Name | r | specnames}} <span style="font-weight: normal;">(Up to {{field.MaxLength}} characters)</span></label>
                                                    <div>
                                                        <textarea class="form-control" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" ng-required="{{field.Required}}"  ng-maxlength="{{field.MaxLength}}"></textarea>
                                                    </div>
                                                    <i class="fa fa-edit"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li ng-repeat="field in currentOrder.OrderFields | gccustomorderfieldsnonemail : currentOrder.IsAllDigital | filter:{Name:'Closing'}">
                                                <div class="view-form-icon">
                                                    <label>{{field.Label || field.Name | r | specnames}} <span style="font-weight: normal;">(Up to {{field.MaxLength}} characters)</span></label>
                                                    <div>
                                                        <input class="form-control" ng-class="{'input-invalid': orderFieldErrors.indexOf(field.Name) > -1}" placeholder="{{field.Label || field.Name | r | specnames}}" type="text" autocomplete="off" ng-model="field.Value" ng-required="{{field.Required}}" ng-maxlength="{{field.MaxLength}}" />
                                                    </div>
                                                    <i class="fa fa-edit"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form name="cart_line_items" novalidate="">
                        <div class="recipient-groups">
                            <div class="view-form-icon" ng-show="currentOrder.LineItems.length > 1 && !currentOrder.IsAllDigital">
                                <label>Assign Shipping Method to all physical line items:</label>
                                <div>
                                    <div class="form-group">
                                        <select class="form-control"
                                                ng-change="updateAllShippers()"
                                                name="shipMethod"
                                                ng-model="currentOrder.ShipMethod"
                                                ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown' && !currentOrder.IsDigital"
                                                ng-options="shipper as shipper.Name for shipper in shippers | gcshippers : currentOrder.Total:currentOrder.LineItems.length:false:null">
                                            <option class="view-select-placeholder" value="" selected="selected">Select a shipping method...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-lineitem" ng-repeat="item in currentOrder.LineItems">
                                    <button title="Remove Item" class="btn btn-danger" ng-click="removeItem(item)">
                                        <span class="fa fa-minus-circle fa-inverse"></span>
                                    </button>
                                    <button title="Edit Item" class="btn btn-primary edit-item" ng-show="!item.Editing && objectLength(item.Specs) > 0" ng-click="editItem(item)">
                                        <span class="fa fa-edit fa-inverse"></span>
                                    </button>
                                    <button title="Preview Item" class="btn btn-info preview-item" ng-show="!item.Editing && item.Specs.PreviewURL && item.Specs.PreviewURL.Value" ng-click="previewItem(item)">
                                        <span class="fa fa-eye fa-inverse"></span>
                                    </button>
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-5">
                                                <div class="text-center">
                                                    <small>{{'Quantity' | r}}</small>
                                                    <h2 class="text-success">
                                                        {{item.Quantity}}
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-7 thumbnail" ng-show="item.Variant.LargeImageUrl || item.Product.SmallImageUrl">
                                                <figure>
                                                    <img ng-src="{{item.Variant.LargeImageUrl || item.Product.SmallImageUrl}}" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div>
                                                    <h3 class="text-primary" ng-bind-html="item.Product.Name"></h3>
                                                    <p>
                                                        <span ng-bind-html="item.ProductIDText"></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-center" ng-if="!(user.Permissions.contains('HidePricing'))">
                                                    <small>{{'Total' | r}}</small>
                                                    <h2 class="text-success">
                                                        {{item.LineTotal | currency}}
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div ng-show="!item.IsDigital" class="view-form-icon">
                                                    <div ng-show="user.ShipMethod != null && shippers">
                                                        <label ng-class="{'required': !item.ShipperID}">{{'Shipping' | r}} Method</label>
                                                        <select class="form-control" ng-change="saveChanges()" name="shipMethod"
                                                                ng-model="item.ShipperID"
                                                                ng-show="user.ShipMethod.ShipperSelectionType == 'UserDropDown'"
                                                                ng-options="shipper.ID as shipper.Name for shipper in shippers | gcshippers:currentOrder.Total:currentOrder.LineItems.length:currentOrder.IsAllDigital:item.Product"
                                                                ng-required="!currentOrder.IsMultipleShip() && user.ShipMethod != null">
                                                        </select>
                                                        <i class="fa fa-truck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" collapse="!item.Editing">
                                            <form name="editSpecsForm" novalidate="">
                                                <div class="col-sm-6">
                                                    <div class="form-group" ng-repeat="s in item.Specs | onproperty:[{Property: 'Filtered', Value: false}] | onproperty:[{Property: 'ReadOnly', Value: false}] | orderobjectby:'OrderIndex'" ng-if="$even">
                                                        <customtextfield ng-hide="item.Product.Name.indexOf('eCodes Standard') > -1 && s.Name === 'RecipientEmailAddress'" customfield="s" ng-if="s.ControlType == 'Text'"></customtextfield>
                                                        <customselectionfield customfield="s" ng-if="s.ControlType == 'Selection'"></customselectionfield>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group" ng-repeat="s in item.Specs | onproperty:[{Property: 'Filtered', Value: false}] | onproperty:[{Property: 'ReadOnly', Value: false}] | orderobjectby:'OrderIndex'" ng-if="$odd">
                                                        <customtextfield ng-hide="item.Product.Name.indexOf('eCodes Standard') > -1 && s.Name === 'RecipientEmailAddress'" customfield="s" ng-if="s.ControlType == 'Text'"></customtextfield>
                                                        <customselectionfield customfield="s" ng-if="s.ControlType == 'Selection'"></customselectionfield>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="btn-group" role="group">
                                                        <button class="btn btn-sm btn-default" style="width:50%;" ng-click="cancelEditItem(item)">Cancel</button>
                                                        <button class="btn btn-sm btn-success" style="width:50%;" ng-disabled="!item.SpecFormValid" ng-click="updateItem(item)">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row" collapse="!item.Preview">
                                            <loadingindicator ng-show="item.LoadingImage" />
                                            <figure>
                                                <img width="100%" ng-attr-id="{{item.ID}}" ng-src="{{item.Specs.PreviewURL.Value}}" imageonload/>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{'Order Summary' | r}}</h3>
                        </div>
                        <div class="panel-body">
                            <p class="text-right"><span class="pull-left text-info">Subtotal:</span>{{currentOrder.Subtotal | currency}}</p>
                            <p class="text-right"><span class="pull-left text-info">Shipping and Handling:</span>{{currentOrder.ShippingCost | currency}}</p>
                            <p class="text-right"><span class="pull-left text-info">Total:</span>{{currentOrder.Total | currency}}</p>
                            <alert class="alert-blue">
                                <div ng-show="currentOrder.MerchantCardCount > 0 && currentOrder.HasPhysicalMerchantCards">
                                    <p>*The service fee for each product is included in the total price.</p>
                                    <p>If your order is for merchant gift cards, please be aware that all physical gift cards will ship together. If one or more gift cards selected is out of stock, shipment of this order will be delayed.</p>
                                    <p>*E-gift cards cannot be returned or exchanged</p>
                                </div>
                                <p>*Orders placed after 2 p.m. EST will be shipped the following business day.</p>
                            </alert>
                            <!--<div class="alert alert-info" style="padding:7px;" ng-show="currentOrder.MerchantCardCount > 0 || !currentOrder.IsAllDigital">
                                <small>
                                    <div ng-show="currentOrder.MerchantCardCount > 0">
                                        <p>*The service fee for each product is included in the total price.</p>
                                        <p>If your order is for merchant gift cards, please be aware that all physical gift cards will ship together. If one or more gift cards selected is out of stock, shipment of this order will be delayed.</p>
                                        <p>*E-gift cards cannot be returned or exchanged.</p>
                                    </div>
                                    <div ng-show="!currentOrder.IsAllDigital">
                                        <p style="margin-bottom: 0;">*Orders placed after 2 p.m. EST will be shipped the following business day.</p>
                                    </div>
                                </small>
                            </div>-->
                        </div>
                    </div>
                    <div class="panel panel-default" ng-show="currentOrder.Total > 0">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="padding-top:18px; padding-bottom:18px;">
                                {{'Billing Info' | r}}<br/>
                                <p style="margin:0;"><small ng-class="{'text-danger': cart_billing.$invalid}">{{!cart_billing.$invalid ? 'Ready for submission' : 'Missing required fields'}}</small></p>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div ng-show="billaddressform || (addresses | filter:{IsBilling:true}).length == 0 && user.Permissions.contains('CreateBillToAddress')" class="row">
                                <addressinput address='billaddress' user='user'></addressinput>
                            </div>
                            <form name="cart_billing" ng-show="billaddressform || (addresses | filter:{IsBilling:true}).length > 0" novalidate="">
                                <orderbillinggc></orderbillinggc>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="view-footer navbar-fixed-bottom">
                    <div class="view-response-message alert-success" alert-show="actionMessage">
                        <p>{{actionMessage}}</p>
                    </div>
                    <div class="view-response-message alert-danger" alert-show="actionErrorMessage">
                        <p>{{actionErrorMessage}}</p>
                    </div>
                    <!--<div class="view-error-message alert-warning" style="padding:10px 0;" ng-show="errorMessages.length > 0 && displayErrorMessages">
                        <ul class="row" ng-init="errorLimit = 1">
                            <li class="col-sm-1  text-center">
                                <i class="fa fa-exclamation-circle text-danger"></i>
                                <span class="badge" ng-show="errorMessages.length > 0">{{errorMessages.length}}</span>
                            </li>
                            <li class="col-sm-10 text-center" style="margin: 0; padding:0;">
                                <ul>
                                    <li ng-repeat="error in errorMessages | limitTo:errorLimit">{{error}}</li>
                                </ul>
                            </li>
                            <li class="col-sm-1 text-center" ng-click="(errorLimit > 1) ? (errorLimit = 1) : (errorLimit = 50)"><a class="fa fa-caret-down" ng-class="{'fa-caret-up':errorLimit == 1}"></a></li>
                        </ul>
                    </div>-->
                    <ul class="view-footer-buttons">
                        <li style="width: 25%;">
                            <button class="btn btn-danger" ng-click="cancelOrder()" ng-disabled="orderSubmitLoadingIndicator">Cancel</button>
                        </li>
                        <li style="width: 25%;">
                            <button class="btn btn-primary" ng-click="saveChanges()" ng-disabled="orderSubmitLoadingIndicator">
                                <loadingindicator ng-show="displayLoadingIndicator" />
                                Save
                            </button>
                        </li>
                        <li>
                            <button class="btn" ng-class="{'btn-warning': ((cart_billing.$invalid && currentOrder.Total > 0) || cart_order_fields.$invalid || cart_line_items.$invalid), 'btn-success': !((cart_billing.$invalid && currentOrder.Total > 0) || cart_order_fields.$invalid || cart_line_items.$invalid)}" ng-click="submitOrder()" ng-disabled="(cart_billing.$invalid && currentOrder.Total > 0) || cart_order_fields.$invalid || cart_line_items.$invalid">
                                <i ng-show="(cart_billing.$invalid && currentOrder.Total > 0) || cart_order_fields.$invalid || cart_line_items.$invalid" class="fa fa-warning"></i>
                                <span>PAY {{currentOrder.Total | currency}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
