<section class="container faq">
<div class="ml-35">
    <span style="font-family: Arial;"><span style="font-size: medium;"><span style="font-size: small;">Need help creating an order?<br />
    Call Corporate Support at 877.568.8401 for assistance.&nbsp; </span></span></span><br />
    &nbsp;
    <p><span style="font-size: medium"><span style="font-size: small"><span style="font-family: Verdana"><font face="Verdana"><span style="font-family: Arial;">Hours of Operation: Monday through Friday, 7:30am to 5:30pm Central Time</span></font></span></span></span></p>
    <span style="font-size: medium"><span style="font-size: small"><span style="font-family: Verdana"><font face="Verdana"> </font></span></span></span>
</div>
</section>