<div class="container col-lg-10 col-lg-offset-1 panel panel-default">
	<h3 class="row" style="padding-left:5px;text-align:center">Selected Product: Digital E-SuperCertificate&reg; Reward (emailable)</h3>
	<div class="row">
		<img ng-src="{{thumbnail}}" alt="image cannot be previewed" style="display:block; margin-left:auto; margin-right:auto; text-align:center" />
	</div>
	<br>
	<form class="form-horizontal" role='form'>

		<div class="row">
			<div class="form-group col-lg-6">
				<label for="firstName" class="col-sm-4 control-label col-lg-3" style="text-align:left">First Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="firstName" value='{{selectedEmployee.FirstName}}' readonly/>
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label for="lastName" class="col-sm-4 control-label col-lg-3 col-lg-offset-1" style="text-align:left">Last Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="lastName" value="{{selectedEmployee.LastName}}" readonly/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-lg-6">
				<label for="employeeNumber" class="col-sm-4 control-label col-lg-3" style="text-align:left">Employee Number</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="employeeNumber" value="{{selectedEmployee.Extrinsics[18].Value}}" readonly/>
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label for="emailAddress" class="col-sm-4 control-label col-lg-3 col-lg-offset-1" style="text-align:left">Email Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="emailAddress" value="{{selectedEmployee.Username}}" readonly/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-lg-6">
				<label for="marketPlace" class="col-sm-4 control-label col-lg-3" style="text-align:left">Marketplace</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="marketPlace" value="{{selectedEmployee.Extrinsics[1].Value}}" readonly/>
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label for="jobFamily" class="col-sm-4 control-label col-lg-3 col-lg-offset-1" style="text-align:left">Job Family</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="jobFamily" value="{{selectedEmployee.Extrinsics[2].Value}}" readonly/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-lg-6">
				<label for="supervisor" class="col-sm-4 control-label col-lg-3" style="text-align:left">Supervisior</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="supervisor" value="{{selectedEmployee.Extrinsics[17].Value}}" readonly/>
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label for="apdCode" class="col-sm-4 control-label col-lg-3 col-lg-offset-1" style="text-align:left">ADP Code</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="apdCode" value="{{selectedEmployee.Extrinsics[3].Value}}" readonly/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-lg-6">
				<label for="denomination" class="col-sm-4 control-label col-lg-3" style="text-align:left">{{selectedProduct.Specs.Denomination.Label}}</label>
				<div class="col-sm-8">
					<select id = denomination
							class="form-control"
							ng-required="true"
							ng-model="selectedProduct.Specs.Denomination.Value"
							ng-options="option.Value as option.Value for option in selectedProduct.Specs.Denomination.Options">
						<option selected="" value="">Select a Denomination</option>
					</select>
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label for="reason" class="col-sm-4 control-label col-lg-3 col-lg-offset-1" style="text-align:left">Reason</label>
				<div class="col-sm-8">
					<select id = reason
							class="form-control"
							ng-required="true"
							ng-model="selectedProduct.Specs.ReasonCode.Value"
							ng-options="option.Value as option.Value for option in selectedProduct.Specs.ReasonCode.Options">
						<option class="view-select-placeholder" selected="" value=""></option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<br>
	<div class="container">
		<h4 style="font-weight:bold">Personalize Your SuperCertificate</h4>
		<h5 style="font-weight:bold">Opening Message Options</h5>
		<form class="form-horizontal" role="form">

			<div class="form-group radio">
				<label for="fullName"><input type="radio" name="openingMessage">
					<span id="fullName" style="font-weight:normal;position:absolute;padding-top:13px">Use First &amp; Last Name</span>
				</label>
			</div>

			<div class="form-group radio">
				<label for="firstNameonly"><input type="radio" name="openingMessage" checked>
					<span id="firstNameonly" style="font-weight:normal;position:absolute;padding-top:13px">Use First Name only</span>
				</label>
			</div>

			<div class="form-group radio">
				<label for="customText"><input type="radio" name="openingMessage" class="radio" ng-model="check-customText">
                <span style="position:absolute">
                  Custom Text
                  <input type="text" id="customText" maxlength="50" style="width:28em" ng-disabled="check-customText == 'false'">
                </span>
				</label>
			</div>

			<div class="form-group radio">
				<label for="noOpeningMessage"><input type="radio" name="openingMessage">
					<span id="noOpeningMessage" style="font-weight:normal;position:absolute;padding-top:13px">None</span>
				</label>
			</div>

		</form>
	</div>
	<br>
	<div class="container">
		<form>

			<div class="form-group">
				<label for="personal-message" class="control-label">Custom Personal Message</label>
				<textarea id="personal-message" class="form-control" style="overflow:auto;resize:none" rows="4" cols="5" maxlength="500" contenteditable="false"
						  ng-required="true"
						  ng-model="">Enter text here...</textarea>
			</div>

			<div class="form-group">
				<label for="closing" class="control-label">Closing</label>
				<input type="text" class="form-control col-lg-12 col-md-12" maxlength="50" ng-required="true" ng-model="" id="closing">
			</div>
		</form>
	</div>

	<div class="container">
		<form role="form" class="form-horizontal">
			<div class="form-group row" style="margin-top:30px">
				<label for="email-subject" class="control-label col-lg-1" style="text-align:left">Email Subject</label>
				<div class=" col-lg-11">
					<input type="text" class="form-control col-lg-9" maxlength="75" ng-required="true" ng-model="" id="email-subject" style="width:40em">
				</div>
			</div>

			<div class="form-group">
				<label for="deliveryDate" class="control-label col-lg-1" style="text-align:left">Delivery Date</label>
				<div class=" col-lg-4">
					<input type="date" class="form-control" id="deliveryDate" style="width:12em"
						   ng-model="delivery-date"
						   ng-required="true" min="{{min-delivery-date}}">
					<!-- <p id="not-valid-date">{{date-status}}</p> -->
				</div>
			</div>
		</form>

		<input type="button" value="Create Award" class="btn btn-lg btn-block btn-success">
	</div>
	<br>
</div>
<br>