<div class="container">
	<h3 class="row">Selected Product: Digital E-SuperCertificate&reg; Reward (emailable)</h3>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<img ng-src="{{getTemplate}}" alt/>
		</div>
	</div>
	<form>
		<div class="row">
			<div class="col-sm-6">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="firstName" class="col-sm-4 control-label">First Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="firstName"\>
						</div>
					</div>
					<div class="form-group">
						<label for="employeeNumber" class="col-sm-4 control-label">Employee Number</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="employeeNumber"\>
						</div>
					</div>
					<div class="form-group">
						<label for="marketplace" class="col-sm-4 control-label">Marketplace</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="marketplace"\>
						</div>
					</div>
					<div class="form-group">
						<label for="supervisor" class="col-sm-4 control-label">Supervisor</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="supervisor"\>
						</div>
					</div>
					<div class="form-group">
						<label for="denomination" class="col-sm-4 control-label">Denomination</label>
						<div class="col-sm-8">
							<select id="denomination" class="form-control">
								<option>$25</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="lastName" class="col-sm-4 control-label">Last Name</label>
						<div class="col-sm-8">
							<input type="text" id="lastName" class="form-control"\>
						</div>
					</div>
					<div class="form-group">
						<label for="emailAddress" class="col-sm-4 control-label">Email Address</label>
						<div class="col-sm-8">
							<input type="text" id="emailAddress" class="form-control"\>
						</div>
					</div>
					<div class="form-group">
						<label for="jobFamily" class="col-sm-4 control-label">Job Family</label>
						<div class="col-sm-8">
							<input type="text" id="jobFamily" class="form-control"\>
						</div>
					</div>
					<div class="form-group">
						<label for="apdCode" class="col-sm-4 control-label">APD Code</label>
						<div class="col-sm-8">
							<input type="text" id="apdCode" class="form-control"\>
						</div>
					</div>
					<div class="form-group">
						<label for="reason" class="col-sm-4 control-label">Reason</label>
						<div class="col-sm-8">
							<select id="reason" class="form-control">
								<option>Winning Spirit</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<h4>Personalize Your SuperCertificate</h4>
			<form class="form-horizontal" role="form">
				<h5>Opening Message Options</h5>
				<div class="form-group">
					<div class="radio">
						<label for="fullName" class="col-sm-2">
							<input type="radio" name="openingMessageOptions" id="fullName"\>
							Use First &amp; Last Name
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="radio">
						<label for="firstName" class="col-sm-2">
							<input type="radio" name="openingMessageOptions" id="firstName"\>
							Use First Name Only
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="radio">
						<label for="customText" class="col-sm-2">
							<input type="radio" name="openingMessageOptions" id="customText"\>
							Custom Text
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="radio">
						<label for="none" class="col-sm-2">
							<input type="radio" name="openingMessageOptions" id="none"\>
							None
						</label>
					</div>
				</div>
			</form>
		</div>

		<div class="row">
			<form class="form-group" role="form">
				<div class="form-group">
					<label for="firstName" class="col-sm-4 control-label">Custom Personal Message</label>
					<div class="col-sm-8">
						<textarea id="personal-message" style="overflow:auto;resize:none" rows="4" cols="5" maxlength="500" contenteditable="false">Enter text here...</textarea>
					</div>
				</div>
				</form>
		</div>
		<script>
			$('#personal-message')
					.focus(function(){
						if($(this).val()=='Enter text here...')
						{
							$(this).val('');
						}
					})
					.blur(function () {
						if ($(this).val() == '') {
							$(this).val('Enter text here...');
						}
					});
		</script>
		<div class="row">
			<div class="form-group">
				<label for="employeeNumber">Employee Number</label>
				<input type="text" class="form-control" id="employee-Number"\>
			</div>
		</div>

		<form class="form-horizontal">
			<div class="form-group">
				<label for="marketplace" class="col-sm-4 control-label">Marketplace</label><input type="text" class="form-control" id="market-place"\>
			</div>
		</form>
	</form>
</div>