<section class="employee-search" style="margin-top:15px;">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Recipient List</b></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-show="recipientList.length == 0">No recipients selected</div>
                    <div class="recipient-list-container" ng-show="recipientList.length > 0">
                        <ul class="list-group" style="margin-bottom:0;">
                            <li class="list-group-item" ng-repeat="recipient in recipientList" ng-class="{'list-group-item-danger': (!recipient.Valid && !recipient.BeingEdited), 'list-group-item-info': recipient.BeingEdited}">
                                <div class="pull-right">
                                    <div class="btn-group-vertical" ng-show="!recipient.BeingEdited">
                                        <div class="btn btn-primary btn-sm" ng-click="editRecipient(recipient)"><i class="fa fa-edit"></i></div>
                                        <div class="btn btn-danger btn-sm" ng-click="removeRecipient(recipient)"><i class="fa fa-times"></i></div>
                                    </div>
                                </div>
                                <i style="padding-top:3px; padding-right:7px;" class="fa fa-user pull-left text-muted"></i>
                                <p>{{recipient.FirstName}} {{recipient.LastName}}</p>
                                <p>
                                    <small>
                                    <span ng-show="recipient.ShipAddressID">
                                        <i class="fa fa-map-marker text-muted"></i>
                                        <em> {{recipient.Street1}} </em>
                                    </span>
                                        <span ng-show="recipient.Street1 && (recipient.Email || recipient.City) || recipient.Email">
                                            <i style="margin-left:4px;" class="fa fa-circle text-muted"></i>
                                            <em> {{recipient.Email || recipient.City + ', ' + recipient.State}}</em>
                                        </span>
                                    </small>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4" ng-show="!tempRecipient.UserID">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Employee Search</b></h3>
                </div>
                <div class="panel-body">
                    <loadingindicator ng-show="searchIndicator"></loadingindicator>
                    <form name="employee_search" ng-submit="seachEmployees(searchCriterion)">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                                <p class="text-info">Please enter your search criteria.</p>
                                <div class="view-form-icon">
                                    <div>
                                        <label>First Name</label>
                                        <input class="form-control" type="text" ng-maxlength="50" ng-model="searchCriterion.fn" name="FirstName" tabindex="1" />
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="view-form-icon">
                                    <div>
                                        <label>Last Name</label>
                                        <input class="form-control" type="text" ng-maxlength="50" ng-model="searchCriterion.ln" name="LastName" tabindex="2" />
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="view-form-icon">
                                    <div>
                                        <label>Employee Number</label>
                                        <input class="form-control" type="text" ng-maxlength="50" ng-model="searchCriterion.e" name="EmployeeNumber" tabindex="3" />
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="view-form-icon">
                                    <div>
                                        <label>Marketplace</label>
                                        <input class="form-control" type="text" ng-maxlength="100" ng-model="searchCriterion.d" name="Marketplace" tabindex="4" />
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <hr/>
                                <div class="alert alert-warning" ng-show="searchError">{{searchError}}</div>
                                <div class="row text-center">
                                    <div class="col-sm-6">
                                        <input class="btn btn-success btn-block" type="submit" value="Search" ng-disabled="employee_search.$invalid" tabindex="5" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="btn btn-default btn-block" type="button" value="Clear" ng-click="clearSearch()" tabindex="6" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-5" ng-show="!tempRecipient.UserID">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Search Results</b></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" ng-show="employees.length == 0">Search results will display here</div>
                    <div ng-show="employees.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Employee #</th>
                                    <th>Marketplace</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employee in employees" ng-show="!employee.Selected">
                                    <td><div class="btn btn-sm btn-info" ng-click="selectEmployee(employee)">Select</div></td>
                                    <td>{{employee.FirstName}}</td>
                                    <td>{{employee.LastName}}</td>
                                    <td>{{employee.ThirdPartyID}}</td>
                                    <td>{{employee.Marketplace}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-9" ng-show="tempRecipient.UserID">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Edit Recipient</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="view-form-icon">
                                        <div>
                                            <label>First Name</label>
                                            <input class="form-control" type="text" ng-model="tempRecipient.FirstName" name="FirstName" readonly="readonly" />
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="view-form-icon">
                                        <div>
                                            <label>Email Address</label>
                                            <input class="form-control" type="text" ng-model="tempRecipient.Username" name="Email" readonly="readonly" />
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="view-form-icon">
                                        <div>
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" ng-model="tempRecipient.LastName" name="LastName" readonly="readonly" />
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="view-form-icon">
                                        <div>
                                            <label>Employee ID</label>
                                            <input class="form-control" type="text" ng-model="tempRecipient.ThirdPartyID" name="LastName" readonly="readonly" />
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>