<section class="container faq">
<div class="ml-35">
<p>
    <i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a ng-click="scroll('Q1')" class="colorblue">Payment Information</a><br>
    <i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a ng-click="scroll('Q5')" class="colorblue">Shipping and Fee Information</a><br>
    <i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a ng-click="scroll('Q10')" class="colorblue">SuperCertificate<span class="R colorblue">&reg;</span> Information</a><br>
    <i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a ng-click="scroll('Q22')" class="colorblue">Merchant Gift Cards and Certifcates</a><br>
    <i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a ng-click="scroll('Q35')" class="colorblue">Order Status</a><br>
    <i class="fa fa-arrow-circle-o-right"></i>&nbsp;<a ng-click="scroll('Q40')" class="colorblue">Technical Support</a>
</p>

<h1 class="colorblue"><a id="Q1" name="Q1"></a>Payment Information</h1>


<a ng-click="scroll('Q2')" class="colordarkgreen">What forms of payment do you accept?</a><br>

<h3 class="colorblue"><a id="Q2" name="Q2"></a>What forms of payment do you accept?</h3>
<ul>
    <li class="colordarkgreen outsideulli">SuperCertificate<span class="R colordarkgreen"><span class="R colordarkgreen">&reg;</span></span> Reward</li>
    <li class="colordarkgreen outsideulli">Credit Card:  GC Incentives accepts the following credit cards: Visa<span class="R colordarkgreen"><span class="R colordarkgreen">&reg;</span></span>, MasterCard<span class="R colordarkgreen"><span class="R colordarkgreen">&reg;</span></span>,
        <br>
        Discover &amp; American Express.</li>
</ul>

<h1 class="colorblue"><a id="Q5" name="Q5"></a>Shipping and Handling Information</h1>
<p>All orders are subject to a verification process and any information   submitted that does not verify with a customer’s financial institution   may cause delays. All orders are subject to the availability of   inventory.</p>
<p>
    <a ng-click="scroll('Q6')" class="colordarkgreen">When will my gift card arrive?</a><br>
    <a ng-click="scroll('Q7')" class="colordarkgreen">What are the shipping costs?</a><br>
</p>
<h3 class="colorblue"><a id="Q6" name="Q6"></a>When will my gift card arrive?</h3>
<p>Please add one business day to the durations below for orders placed   after 2PM EST. Orders placed before 2PM EST will follow the delivery   time stated below: </p>
<ul>
    <li class="colordarkgreen outsideulli">US Mail orders ship the same business day and are delivered within 6-13 days. </li>
    <li class="colordarkgreen outsideulli">FedEx<span class="R colordarkgreen">&reg;</span> 2nd Day orders ship the same business day and are delivered within two business days. </li>
    <li class="colordarkgreen outsideulli">FedEx<span class="R colordarkgreen">&reg;</span> Priority Overnight orders ship the same business day and are delivered on the next <br>
        business day. </li>
    <li class="colordarkgreen outsideulli">Orders made on federal holidays will be processed and   shipped the following business day and<br>
        delivered according to the   shipping option you choose. </li>
</ul>
<h3 class="colorblue"><a id="Q7" name="Q7"></a>What Are the Shipping and Handling Costs?</h3>
<p>Shipping and handling charges are not assigned to merchant gift cards   when a SuperCertificate<span class="R">&reg;</span> REWARD or GIFT is being redeemed, unless the   recipient chooses to upgrade from USPS First Class.</p>

<h1 class="colorblue"><a id="Q10" name="Q10"></a>SuperCertificate<span class="R colorblue">&reg;</span> Information</h1>
<p>
    <a ng-click="scroll('Q11')" class="colordarkgreen">Where do I find my SuperCertificate Number? </a><br>
    <a ng-click="scroll('Q12')" class="colordarkgreen">How do I enter more than one SuperCertificate? </a><br>
    <a ng-click="scroll('Q13')" class="colordarkgreen">What is a SuperCertificate?</a><br><br>
    <a ng-click="scroll('Q16')" class="colordarkgreen">How do I spend a SuperCertificate?</a> <br>
    <a ng-click="scroll('Q17')" class="colordarkgreen">Can I use my SuperCertificate in a merchant’s store or on its website?</a><br>
    <a ng-click="scroll('Q18')" class="colordarkgreen">What if I can’t find a denomination that matches my SuperCertificate value?</a><br><br>
    <a ng-click="scroll('Q20')" class="colordarkgreen">Do I have to pay for shipping when I redeem a SuperCertificate?</a><br>
    <a ng-click="scroll('Q21')" class="colordarkgreen">My SuperCertificate has expired. Can I extend the life of it?</a></p>
<h3 class="colorblue"><a id="Q11" name="Q11"></a>Where do I find my SuperCertificate Number?</h3>
<p><img height="165" width="400" src="css/images/FindingSC_Number_GCI.jpg"></p>
<p>&nbsp;</p>
<p><img height="200" width="341" src="css/images/hib_sc_scnumber.jpg"></p>
<p>&nbsp;</p>
<p><img height="168" width="310" src="css/images/ssc_scnumber.jpg"></p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q12" name="Q12"></a>How do I enter more than one SuperCertificate? </h3>
<p>You can enter up to 10 SuperCertificate numbers, with matching Program   ID’s.  Submit one at a time in the field provided on the   SuperCertificate Shopping Page.  You navigate to SuperCertificate   Shopping Page by clicking on the top navigation that says "Redeem with a   SuperCertificate".  Enter the SuperCertificate numbers in the form   field provided.  The system will tell you if you have submitted   SuperCertificates from incompatible program ID’s. The system will only   allow you to shop and complete a transaction with one Program ID at a   time. </p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q13" name="Q13"></a>What is a SuperCertificate?</h3>
<p>A SuperCertificate is a gift certificate to GC Incentives. It can   be exchanged at GC Incentives for original gift certificates   from hundreds of popular stores, airlines, hotels, theaters, restaurants   and more. </p>

<p>Please note: This SuperCertificate<span class="R">&reg;</span> GIFT is redeemable at   www.GC Incentives for certain Merchant gift cards and   certificates ONLY. This SuperCertificate<span class="R">&reg;</span> GIFT is not redeemable for   American Express<span class="R">&reg;</span> Gift Cheques or GC Incentives&trade; MasterCard<span class="R">&reg;</span> Gift   Cards. This SuperCertificate<span class="R">&reg;</span> GIFT does not expire (if issued after   June 30, 2004), is not redeemable for cash except as required by law,   and cannot be used with certain promotions. SuperCertificate<span class="R">&reg;</span> GIFTs are   not redeemable on the websites or in the stores of participating   Merchants. Merchants are subject to change.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q16" name="Q16"></a>How do I spend a SuperCertificate<span class="R colorblue">&reg;</span>?</h3>
<p> Step 1: Go to the SuperCertificate Redemption page and enter your   SuperCertificate number(s). You will be taken to a page detailing the   merchant gift cards available for exchange. If you have more than one   SuperCertificate, you can enter more on this page.</p>

<p>Step 2: Shop our site for gift cards to your favorite stores by   selecting a category from the drop down menus at the top fo the page or   by choosing a featured merchant on this page. Once you have selected a   gift card you will choose your denomination and add that card to your   cart.</p>
<p>Step 3: When you checkout, the value of your SuperCertificate   is deducted from your cart total. Checkout is complete when you receive   your Order Confirmation Number.</p>
<p>Step 4: The gift cards you have chosen will be mailed to you   and you can shop with them online or in the store. e-Gift Cards will be   sent to you via email and can be used immediately.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q17" name="Q17"></a>Can I use my SuperCertificate in a merchant’s store or on its website?</h3>
<p>No. A SuperCertificate must be redeemed on the GC Incentives   website or by calling Customer Service. Then you will receive your   merchant gift certificate, which you can then take into a store or use   on its website depending on the merchant. </p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q18" name="Q18"></a>What if I can't find a denomination that matches my SuperCertificate value?</h3>
<p>Use our Search Center to see if you can find the denomination that   you're looking for. Remember, you can use any combination of   certificates to add up to or exceed the value of your SuperCertificate.   If you go over the value of your SuperCertificate you can pay the   balance with a credit card. You also don't have to spend your   SuperCertificate all at once; you can come back to the site to redeem   the rest later.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="20" name="20"></a>Do I have to pay for shipping when I redeem a SuperCertificate?</h3>
<p>There is no shipping charge when redeeming a SuperCertificate. If you   are redeeming a SuperCertificate for more than $400 in gift certificates   you will receive free USPS Priority shipping. You always have the   option to upgrade to various FedEx<span class="R">&reg;</span> shipping methods for a charge. </p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q21" name="Q21"></a>My SuperCertificate has expired. Can I extend the life of it?</h3>
<p>SuperCertificate gifts issued on or after July 1, 2004 do not expire.   SuperCertificate gifts issued before July 1, 2004 generally have an   expiration of 13 months from the date of issuance, except where   prohibited by law. If you have an expired SuperCertificate and reside in   a state that prohibits expiration dates, please contact Customer   Service at 1.800.PRESENT and we will process your redemption over the   phone. </p>
<p>&nbsp;</p>
<h1 class="colorblue"><a id="Q22" name="Q22"></a>Merchant Gift Cards and Certificates</h1>
<p>
    <a ng-click="scroll('Q23')" class="colordarkgreen">What merchant gift cards or certificates does GC Incentives offer?</a><br>
    <a ng-click="scroll('Q24')" class="colordarkgreen">How can merchant gift cards or certificates be delivered?</a><br>
    <a ng-click="scroll('Q25')" class="colordarkgreen">How can I search for a merchant gift card or certificate?</a><br>
    <a ng-click="scroll('Q26')" class="colordarkgreen">Do merchant gift cards or certificates expire?</a><br>
    <a ng-click="scroll('Q27')" class="colordarkgreen">Where can I redeem a merchant gift certificate?</a>				 </p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q23" name="Q23"></a>What merchant gift cards or certificates does GC Incentives offer?</h3>
<p>GC Incentives offers original gift cards or certificates from   hundreds of merchants and are the very same gift cards or certificates   you would buy if you went to the store. Our selection of gift cards and   certificates includes your favorite stores, airlines, hotels, theaters,   restaurants, and more.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q24" name="Q24"></a>How can merchant gift cards or certificates be delivered?</h3>
<p>It depends on the merchant. Some merchants either offer email or mail delivery and some offer both. <a class="colordarkgreen" target="_blank" href="pdf/132012AllMerchantList_NOPremiums.pdf">Click here</a> to see a complete list of active merchants. </p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q25" name="Q25"></a>How can I search for a merchant gift card or certificate?</h3>
<p>Go to the Search field to search for a gift card or certificate by name.    You can also view an A-Z merchant list or view merchants by category   by clicking on <a class="colordarkgreen" target="_self" href="OurRewards-GiftCards.html">Products</a>. </p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q26" name="Q26"></a>Do merchant gift cards or certificates expire?</h3>
<p>Original gift cards or certificates from our merchants provide terms specific to the individual companies.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q27" name="Q27"></a>Where can I redeem a merchant gift card or certificate?</h3>
<p>It depends on the merchant. If you receive a physical merchant gift card   or certificate in the mail you may redeem the gift card or certificate   at the merchant’s physical location;  some merchants will allow their   gift cards or certificates to be redeemed online or by phone. If you   receive a gift card or certificate via email it will contain online   instructions on how to redeem your gift card or certificate. </p>
<p>&nbsp;</p>
<h1 class="colorblue"><a id="Q35" name="Q35"></a>Order Status</h1>
<p><a ng-click="scroll('Q36')" class="colordarkgreen">How can I track my order?</a><br>
    <a ng-click="scroll('Q37')" class="colordarkgreen">My order should have arrived by now, but it hasn’t. What should I do? </a><br>
    <a ng-click="scroll('Q38')" class="colordarkgreen">What should I do if I received an incomplete or incorrect order?</a><br>
    <a ng-click="scroll('Q39')" class="colordarkgreen">What can be done if my gift certificate is lost or stolen?</a></p>
<h3 class="colorblue"><a id="Q36" name="Q36"></a>How can I track my order?</h3>
<p>Retain your confirmation number for tracking your order with GC Incentives. Contact 1-800-PRESENT for details on tracking your order or refer to your order acknowledgement and shipment confirmation emails for more details.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q37" name="Q37"></a>My order should have arrived by now, but it hasn’t. What should I do?</h3>
<p>If your order was shipped by U.S. Mail please allow 13 days for delivery   from the date it shipped. If it is between 14 and 60 days past the date it shipped, please contact Customer Service at 1-800-PRESENT for assistance.</p>
<p>Please note: GC Incentives will not be responsible for merchandise that is undeliverable or not received due to the purchaser’s failure to enter accurate delivery information, including physical and email addresses, or when 60 days have passed since the date   GC Incentives shipped the certificate(s).</p>
<p>If your order was delivered via email:<br>
    A variety of reasons can prevent a recipient from being able to receive an email from GC Incentives and others. Most common reasons include:</p>
<ul>
    <li class="colordarkgreen outsideulli">Recipient’s Internet security setting is very high (sender is not on the safe list) </li>
    <li class="colordarkgreen outsideulli">Recipient’s firewall blocks the email </li>
    <li class="colordarkgreen outsideulli">Recipient’s email inbox has exceeded its size limit </li>
    <li class="colordarkgreen outsideulli">Invalid email address<br>
    </li>
</ul>
<p>Please see if any of these reasons may have caused the email to not be   received. Then contact Customer Service and we will resend the   certificate.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q38" name="Q38"></a>What should I do if I received an incomplete or incorrect order?</h3>
<p>Please contact Customer Service.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q39" name="Q39"></a>What can be done if my gift certificate is lost or stolen?</h3>
<p>If your physical gift card is lost or stolen after having received it   from GC Incentives, you must report it to the merchant or issuer   immediately.  Replacement of your gift card will be determined by   issuing merchant’s policy.   Some merchants do not replace lost or   stolen gift cards, others do, and some may charge a fee for replacement.    If a merchant does offer to replace the lost or stolen gift card, you   will likely be required to show proof of purchase and/or provide the ID   number on the card. Most merchants provide toll-free numbers to report   lost or stolen cards. </p>
<p>GC Incentives is happy to help you by providing ID numbers and proof of purchase, if we have it on record.</p>
<p>&nbsp;</p>
<h1 class="colorblue"><a id="Q40" name="Q40"></a>Technical Support</h1>
<p><a ng-click="scroll('Q41')" class="colordarkgreen">How can I best view and shop at GC Incentives?</a><br>
    <a ng-click="scroll('Q42')" class="colordarkgreen">Where can I get help if I have technical difficulties?</a><br>
    <a ng-click="scroll('Q43')" class="colordarkgreen">What is the phone number for Customer Support?</a></p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q41" name="Q41"></a>How can I best view and shop at GC Incentives?</h3>
<p>The site is best viewed on Internet Explorer version <b>9 and above</b> or recent versions of <b>Firefox</b>, <b>Chrome</b> and <b>Safari</b>.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q42" name="Q42"></a>Where can I get help if I have technical difficulties?</h3>
<p>Please contact Customer Service at 1-800-PRESENT.</p>
<p>&nbsp;</p>
<h3 class="colorblue"><a id="Q43" name="Q43"></a>What is the phone number for Customer Support?</h3>
<p>1-800-PRESENT.</p>
<p>&nbsp;</p>
<div class="clear"></div>
</div>
</section>
