<section class="list-creation-view container">
<div class="row">
<form name="recipient_form" novalidate="">
<div ng-show="showMaker || isDesktop()" class="col-md-9 col-md-push-3">
<div ng-hide="addType != 'manual'">
    <div class="well new-recipient-well">
        <div class="btn btn-primary pull-right hidden-sm hidden-xs" ng-click="changeAddType('import')">Import List</div>
        <div ng-show="(recipientList.length != 0) && !editingRecipient" class="btn btn-primary pull-right hidden-lg hidden-md" ng-click="showMaker = false">View My List</div>
        <h3>{{editingRecipient ? 'Edit' : 'New'}} Recipient</h3>
        <div class="row">
            <loadingindicator ng-show="recipient.savingIndicator" title="Validating recipient address..."/>
            <div class="col-md-6">
                <div ng-hide="recipient.addressMessage && isDesktop()">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="view-form-icon">
                                <input class="form-control" type="text" ng-maxlength="50" ng-model="recipient.FirstName" placeholder="First Name"/>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="view-form-icon">
                                <input class="form-control" type="text" ng-maxlength="50" ng-model="recipient.LastName" placeholder="Last Name"/>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="view-form-icon">
                                <input class="form-control" type="email" ng-model="recipient.Email" placeholder="Email Address" ng-required="digitalProduct"/>
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="view-form-icon">
                                <input class="form-control" type="text" ng-maxlength="30" ng-model="recipient.RecipientID" placeholder="Recipient ID"/>
                                <i class="fa fa-tag"></i>
                            </div>
                        </div>
                    </div>

                    <div class="btn btn-link btn-block" ng-click="editAdditionalInformation = !editAdditionalInformation" style="cursor:pointer;"><i class="fa" ng-class="{'fa-plus-circle':!editAdditionalInformation, 'fa-minus-circle':editAdditionalInformation }" /> {{editAdditionalInformation ? 'Hide' : 'Edit'}} Additional Recipient Information</div>
                    <div collapse="!editAdditionalInformation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="view-form-icon">
                                    <select class="form-control"
                                            ng-model="recipient.Denomination"
                                            ng-options="denom.Value as denom.Value for denom in selectedProductDetails.Specs | gcProductDenominations">
                                        <option value="" selected>Denomination</option>
                                    </select>
                                    <i class="fa fa-dollar"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="view-form-icon">
                                    <input type="text" class="form-control" placeholder="Email Subject..." ng-model="recipient.EmailSubject"/>
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="view-form-icon">
                            <input ng-required="selectedProduct.OpeningMessageOption == 'Custom Message'" class="form-control" ng-maxlength="50" ng-model="recipient.OpeningMessage" type="text" placeholder="Custom opening message...">
                            <i class="fa fa-pencil-square-o" />
                        </div>
                        <div class="view-form-icon">
                            <textarea class="form-control" ng-maxlength="300" ng-model="recipient.PersonalMessage" placeholder="Custom personal message..." />
                            <i class="fa fa-pencil-square-o" />
                        </div>
                        <div class="view-form-icon" style="margin-bottom:20px;">
                            <input type="text" class="form-control" ng-maxlength="50" ng-model="recipient.ClosingMessage" placeholder="Custom closing message..." />
                            <i class="fa fa-pencil-square-o" />
                        </div>
                    </div>
                    <div class="hidden-sm hidden-xs">
                        <div style="margin-bottom:5px;" ng-show="!editingRecipient" class="btn btn-block btn-success" ng-disabled="recipient_form.$invalid" ng-click="saveRecipient()">
                            <i class="fa fa-plus-circle"></i> Add New Recipient
                        </div>
                        <div ng-show="!editingRecipient" class="btn btn-block btn-default" ng-click="clearRecipient('recipient')">
                            <i class="fa fa-eraser"></i> Clear Form
                        </div>
                        <div ng-show="editingRecipient" class="btn-group btn-group-justified">
                            <div class="btn btn-danger" ng-click="cancelEditRecipient()">Cancel</div>
                            <div class="btn btn-primary" ng-disabled="recipient_form.$invalid" ng-click="editRecipientSave()">Save</div>
                        </div>
                    </div>
                </div>
                <div ng-show="recipient.addressMessage && isDesktop()">
                    <div class="row" >
                        <div ng-class="{'col-xs-7':recipient.newAddress, 'container':!recipient.newAddress}">
                            <p><small>{{recipient.addressMessage}} You may edit your address and attempt to save again, or select an option below.</small></p>
                        </div>
                        <div class="col-xs-5" ng-show="recipient.newAddress">
                            <span class="mini-white-header text-center text-info">Suggested Address</span>
                            <div class="mini-white-body">
                                <small>
                                    <span>{{recipient.newAddress.FirstName}} {{recipient.newAddress.LastName}}<br /></span>
                                    <span ng-show="recipient.newAddress.CompanyName">{{recipient.newAddress.CompanyName}}<br /></span>
                                    <span>{{recipient.newAddress.Street1}}<br /></span>
                                    <span ng-show="recipient.newAddress.Street2 != ''">{{recipient.newAddress.Street2}}<br /></span>
                                    <span>{{recipient.newAddress.City}}, {{recipient.newAddress.State}} {{recipient.newAddress.Zip}}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                    <button ng-show="recipient.newAddress" class="btn btn-primary" type="button" ng-click="saveRecipientWithSuggestedAddress()">Use Suggested</button>
                    <button class="btn btn-success" type="button" ng-click="saveRecipientWithUserAddress()">Keep Mine</button>
                </div>
            </div>
            <div class="col-md-6" >
                <div ng-show="(addresses | filter:{IsShipping:true}).length > 0" class="view-form-icon">
                    <select class="form-control"
                            id="existingAddressSelect"
                            ng-change="useExistingAddress()"
                            ng-options="address as (address.Street1 +  ' - ' + address.FirstName + ' ' + address.LastName ) for address in addresses | filter:{IsCustEditable:true,IsShipping:true}"
                            ng-model="existingAddress">
                        <option value="" selected>Use Existing Address</option>
                    </select>
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="view-form-icon">
                            <input class="form-control" type="text" ng-maxlength="50" ng-model="recipient.ShipToFirstName" placeholder="Ship To First Name" ng-required="physicalProduct"/>
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="view-form-icon">
                            <input class="form-control" type="text" ng-maxlength="50" ng-model="recipient.ShipToLastName" placeholder="Ship To Last Name" ng-required="physicalProduct"/>
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="view-form-icon">
                    <input class="form-control" type="text" ng-model="recipient.Street1" placeholder="Address Line 1" ng-required="physicalProduct"/>
                    <i class="fa fa-road"></i>
                </div>
                <div class="view-form-icon">
                    <input class="form-control" type="text" ng-model="recipient.Street2" placeholder="Address Line 2"/>
                    <i class="fa fa-road"></i>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="view-form-icon">
                            <input class="form-control" type="text" ng-model="recipient.City" placeholder="City" ng-required="physicalProduct"/>
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="view-form-icon">
                            <select class="form-control"
                                    ng-options="state.value as state.label for state in states | filter:country"
                                    ng-model="recipient.State"
                                    ng-required="physicalProduct">
                                <option class="view-select-placeholder" value="" selected>Select a State</option>
                            </select>
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="view-form-icon">
                            <input class="form-control" type="text" ng-maxlength="10" ng-model="recipient.Zip" placeholder="Zip" ng-required="physicalProduct"/>
                            <i class="fa fa-home"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="view-form-icon">
                            <select class="form-control"
                                    ng-options="country.value as country.label for country in countries"
                                    ng-model="recipient.Country"
                                    ng-required="physicalProduct">
                                <option class="view-select-placeholder" value="" selected>Select a Country</option>
                            </select>
                            <i class="fa fa-globe"></i>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="view-form-icon">
                            <input  class="form-control" type="text" ui-mask="(999) 999-9999" ng-model="recipient.Phone" ng-required="physicalProduct"/>
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="addType != 'import'">
    <loadingindicator ng-show="savingRecipientsLoadingIndicator" title="Please wait while we generate your recipients"/>
    <div class="well">
        <div class="btn btn-primary pull-right" ng-click="changeAddType('manual')">Add Manually</div>
        <div class="btn btn-success pull-right" style="margin-right: 10px;" ng-show="recipientPasteList" ng-click="generateRecipients(recipientPasteList); tempRecipientPasteList = []">
            <i class="fa fa-plus-circle"></i> Generate Recipients
        </div>
        <h3>Import List <small><a class="btn btn-sm btn-link" href="lib/GC/RecipientUploadTemplate.xls" target="_blank"><i class="fa fa-download"></i> Download Spreadsheet Template</a></small></h3>

        <angular-paste ng-hide="recipientPasteList.length > 0" ng-model="rawPaste" ng-array="parsedPaste"></angular-paste>

        <div class="text-info" ng-show="tempRecipientPasteList.length > 0 && tempPasteError">
            <strong>The following errors were detected:</strong>
            <ul>
                <li ng-repeat="recipient in tempRecipientPasteList | filter:{Invalid:true}">{{recipient.ErrorMessage}}</li>
            </ul>
        </div>
        <div class="recipient-upload-table">
            <div class="row" ng-hide="recipientPasteList.length == 0 || !recipientPasteList">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-6"><b>Name</b></div>
                        <div class="col-md-2 col-xs-6"><b>Recipient ID</b></div>
                        <div class="col-md-3 col-xs-6"><b>Email Address</b></div>
                        <div class="col-md-2 col-xs-6"><b>Denomination</b></div>
                        <div class="col-md-2 col-xs-12"><b>Address</b></div>
                    </div>
                </div>
            </div>

            <div class="recipient-paste-row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="recipient in recipientPasteList">
                <div class="row">
                    <div class="col-md-3 col-xs-6"><span ng-class="{'label label-default':!(recipient.FirstName || recipient.LastName)}">{{(recipient.FirstName + ' ' + recipient.LastName) || 'None'}}</span></div>
                    <div class="col-md-2 col-xs-6"><span ng-class="{'label label-default':!recipient.RecipientID}">{{recipient.RecipientID || 'None'}}</span></div>
                    <div class="col-md-3 col-xs-6"><span ng-class="{'label label-default':!recipient.Email}">{{recipient.Email || 'None'}}</span></div>
                    <div class="col-md-2 col-xs-6"><span ng-class="{'label label-default':!recipient.Denomination}">{{recipient.Denomination || 'None'}}</span></div>
                    <div class="col-md-2">
                        <div class="btn btn-xs btn-primary" ng-init="toggleAddressInfo = false" ng-click="toggleAddressInfo = !toggleAddressInfo">
                            Address Info <i class="fa" ng-class="{'fa-angle-double-left': !toggleAddressInfo, 'fa-angle-double-down': toggleAddressInfo}"></i>
                        </div>
                    </div>
                </div>
                <div class="row" collapse="!toggleAddressInfo">
                    <div class="col-xs-12 recipient-paste-row-address">
                        <p><small>{{recipient.ShipToFirstName}} {{recipient.ShipToLastName}}</small></p>
                        <p><small>{{recipient.CompanyName}}</small></p>
                        <p><small>{{recipient.Street1}}</small></p>
                        <p><small>{{recipient.Street2}}</small></p>
                        <p><small>{{recipient.City}}, {{recipient.State}} {{recipient.Zip}}</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<div ng-show="!showMaker || isDesktop()" class="col-md-3 col-md-pull-9">
    <div ng-hide="recipientList.length == 0">
        <div class="input-group" style="margin-bottom:5px;">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input class="form-control view-form-icon" placeholder="Find a recipient..." type="text" ng-model="recipientListSearchTerm" />
        </div>
        <p class="text-primary pull-right"><small>{{ '(' +recipientList.length+ ')'}}</small></p>
        <div class="checkbox">
            <label>
                <input style="min-height: 0;"
                       type="checkbox"
                       ng-model="invalidRecipients"
                       name="invalidRecipientsChbx"
                       ng-true-value="true"
                       ng-false-value="false">
                <small>Invalid Recipients Only</small>
            </label>
        </div>
        <div class="recipient-list-container">
            <ul class="list-group" style="margin-bottom:0;">
                <li class="list-group-item" ng-repeat="recipient in recipientList | filter:recipientListSearchTerm | invalidRecipients:invalidRecipients" ng-class="{'list-group-item-danger': recipient.Invalid, 'list-group-item-info': recipient.BeingEdited}">
                    <div class="pull-right">
                        <div class="btn-group-vertical">
                            <div class="btn btn-primary btn-sm" ng-click="editRecipient(recipient); changeAddType('manual'); $parent.showMaker = true;"><i class="fa fa-edit"></i></div>
                            <div class="btn btn-danger btn-sm" ng-click="deleteRecipient(recipient)"><i class="fa fa-times"></i></div>
                        </div>
                    </div>
                    <i style="padding-top:3px; padding-right:7px;" class="fa fa-user pull-left text-muted"}"></i>
                    <p>{{recipient.FirstName || recipient.ShipToFirstName}} {{recipient.LastName || recipient.ShipToLastName}} <span style="margin-left:5px;" class="badge" ng-show="recipient.Denomination">{{recipient.Denomination}}</span></p>
                    <p ng-show="recipient.ShipAddressID"><small><i class="fa fa-map-marker text-muted"></i> <em>{{recipient.Street1}} <i style="margin-left:4px;" class="fa fa-circle text-muted" ng-show="recipient.Street1 && (recipient.Email || recipient.City)"></i> {{recipient.Email || recipient.City + ', ' +recipient.State}}</em></small></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="alert alert-danger" ng-hide="recipientList.length != 0">No Recipients</div>
</div>
<div class="view-footer navbar-fixed-bottom hidden-lg hidden-md">
    <ul class="view-footer-buttons" ng-show="!showMaker">
        <li style="width:50%;">
            <button class="btn btn-success" ng-click="showMaker = true;"><i class="fa fa-plus-circle"></i> New Recipient</button>
        </li>
        <li style="width:50%;">
            <button class="btn btn-primary" ng-click="$parent.step = 3" ng-disabled="recipientList.length == 0">Finish List</button>
        </li>
    </ul>
    <ul class="view-footer-buttons" ng-show="showMaker && !recipient.addressMessage">
        <li style="width: 50%;" ng-show="editingRecipient">
            <button class="btn btn-danger" ng-click="cancelEditRecipient(); showMaker = false">Cancel</button>
        </li>
        <li style="width: 50%;" ng-show="editingRecipient">
            <button class="btn btn-success" ng-disabled="recipient_form.$invalid" ng-click="editRecipientSave(); ((recipient.Street1 != '') ? (showMaker = true) : (showMaker = false))">Save</button>
        </li>
        <li style="width: 50%;" ng-show="!editingRecipient">
            <button class="btn btn-warning" ng-click="$parent.step = 1">Product Selection</button>
        </li>
        <li style="width: 50%;" ng-show="!editingRecipient">
            <button class="btn btn-success" ng-disabled="recipient_form.$invalid" ng-click="saveRecipient(); ((recipient.Street1 != '') ? (showMaker = true) : (showMaker = false))">Save Recipient</button>
        </li>
    </ul>
    <ul class="view-footer-buttons" ng-show="showMaker && recipient.addressMessage">
        <li style="width:50%;" ng-show="recipient.newAddress">
            <button class="btn btn-primary" type="button" ng-click="saveRecipientWithSuggestedAddress(); showMaker = false">Use Suggested</button>
        </li>
        <li ng-class="{'width-100':!recipient.newAddress, 'width-50':recipient.newAddress}">
            <button class="btn btn-success" type="button" ng-click="saveRecipientWithUserAddress(); showMaker = false">Keep Mine</button>
        </li>
    </ul>
</div>
</form>
</div>
</section>
