<section class="main-gc-purchase-view container">

    <div class="steps">
        <div ng-show="step == 1">
            <h4 class="text-info pull-right" ng-click="step = 2">List Creation <i class="fa fa-arrow-circle-right"></i></h4>
            <h2>Product Selection</h2>
        </div>
        <div ng-show="step == 2">
            <h4 class="text-info pull-right" ng-click="step = 3">List Creation <i class="fa fa-arrow-circle-right"></i></h4>
            <h4 class="text-info pull-left" ng-click="step = 1"><i class="fa fa-arrow-circle-left"></i> Product Selection</h4>
            <h2>List Creation</h2>
        </div>
        <div ng-show="step == 3">
            <h4 class="text-info pull-right">Generate Awards <i class="fa fa-gift"></i></h4>
            <h4 class="text-info pull-left" ng-click="step = 2"><i class="fa fa-arrow-circle-left"></i> List Creation</h4>
            <h2>Customization</h2>
        </div>
    </div>

    <div id="one" class="gc-purchase-step" ng-show="step == 1">
        <div class="gc-purchase-step-body">
            <ng-include src="'partials/GC/productSelection.html'"></ng-include>
        </div>
    </div>
    <div id="two" class="gc-purchase-step" ng-show="step == 2">
        <div class="gc-purchase-step-body">
            <ng-include src="'partials/GC/listCreation.html'"></ng-include>
        </div>
    </div>
    <div id="three" class="gc-purchase-step" ng-show="step == 3">
        <div class="gc-purchase-step-body">
            <ng-include src="'partials/GC/customization.html'"></ng-include>
        </div>
    </div>
</section>