<section class="container merchant-view">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0">
            <div class="view-form-icon row" style="margin-bottom: 10px;margin-left:0px;margin-right:0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>RECIPIENT LIST</b></h3>
                    </div>
                    <div class="panel-body">
                        <!--<div>
                    <input type="text" placeholder="Find a recipient..." ng-model="recipientListSearchTerm" class="form-control"/>
                </div>-->
                        <div>
                            <div class="recipient-list-container">
                                <ul class="list-group" style="margin-bottom:0;margin-left:0px;margin-right:0px;">
                                    <li class="list-group-item" ng-repeat="recipient in recipientList.List | filter:recipientListSearchTerm" ng-class="{'list-group-item-invalid': !recipient.Valid, 'list-group-item-success': recipient.Selected}">
                                        <div class="pull-right">
                                            <div>
                                                <i class="fa fa-3x" ng-show="recipient.Valid" ng-class="{'fa-circle-o text-muted': !recipient.Selected, 'fa-check-circle text-success': recipient.Selected}"></i>
                                            </div>
                                        </div>
                                        <i style="padding-top:3px; padding-right:7px;" class="fa fa-user pull-left text-muted"></i>
                                        <p>{{recipient.FirstName}} {{recipient.LastName}}</p>
                                        <p>
                                            <small>
                                                <span>
                                                    <em ng-show="!selectedProduct.IsDigital && recipient.Address.ID"><i class="fa fa-map-marker text-muted"></i> {{recipient.Address.Street1 + ' ' + recipient.Address.City + ', ' + recipient.Address.State}} </em>
                                                    <em ng-show="selectedProduct.IsDigital"><i class="fa fa-envelope text-muted"></i> {{recipient.EmailAddress}} </em>
                                                </span>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0">
                <div class="view-form-icon row" style="margin-bottom: 10px;">
                    <div>
                        <label>Search</label>
                        <input type="text" placeholder="Search by merchant..." ng-model="filterTerm" class="form-control"/>
                    </div>
                </div>
                <div class="list-container">
                    <loadingindicator ng-show="categoryLoadingIndicator"></loadingindicator>
                    <div>
                        <ul class="merchant-list">
                            <li class="merchant-list-item" ng-repeat="c in currentCategory.SubCategories | merchantFilter:filterTerm" ng-class="{'selected':c.selected}" ng-click="selectCategory(c)">
                                <div class="col-collapse col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-2 col-md-3 col-lg-2">
                                    <figure>
                                        <img ng-src="{{c.Image.URL}}" width="100%"/>
                                    </figure>
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-9 col-lg-10 merchant-name text-center">
                                    <h4><b ng-bind-html="c.Name"></b></h4>
                                    <p><small  class="text-muted"><span class="hidden-md hidden-lg">Tap </span><span class="hidden-sm hidden-xs">Click </span> to select</small></p>
                                </div>
                                <div style="clear:both;"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="merchant-view-detail">
                    <div class="back-button hidden-md hidden-lg" ng-click="showMerchantList = true"><i class="fa fa-chevron-left"></i> Select a Different Merchant</div>
                    <div>
                        <shortcategoryview c="category" user="user"/>
                    </div>
                    <div class="back-button hidden-md hidden-lg" ng-click="showMerchantList = true"><i class="fa fa-chevron-left"></i> Select a Different Merchant</div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<div class="col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0" ng-class="{'hidden-xs hidden-sm':!showMerchantList}">
            <div class="view-form-icon row" style="margin-bottom: 10px;">
                <div>
                    <label>Search</label>
                    <input type="text"
                           placeholder="Search by merchant..."
                           ng-model="filterTerm"
                           class="form-control"/>
                </div>
            </div>
            <div class="list-container">
                <loadingindicator ng-show="categoryLoadingIndicator"></loadingindicator>
                <div>
                    <ul class="merchant-list">
                        <li class="merchant-list-item" ng-repeat="c in currentCategory.SubCategories | merchantFilter:filterTerm" ng-class="{'selected':c.selected}" ng-click="selectCategory(c)">
                            <div class="col-collapse col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-2 col-md-3 col-lg-2">
                                <figure>
                                    <img ng-src="{{c.Image.URL}}" width="100%"/>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-10 merchant-name text-center">
                                <h4><b ng-bind-html="c.Name"></b></h4>
                                <p><small  class="text-muted"><span class="hidden-md hidden-lg">Tap </span><span class="hidden-sm hidden-xs">Click </span> to select</small></p>
                            </div>
                            <div style="clear:both;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9" ng-class="{'hidden-xs hidden-sm':showMerchantList}">
            <div class="merchant-view-detail">
                <div class="back-button hidden-md hidden-lg" ng-click="showMerchantList = true"><i class="fa fa-chevron-left"></i> Select a Different Merchant</div>
                <div>
                    <shortcategoryview c="category" user="user"/>
                </div>
                <div class="back-button hidden-md hidden-lg" ng-click="showMerchantList = true"><i class="fa fa-chevron-left"></i> Select a Different Merchant</div>
            </div>
        </div>-->
    <!--</div>-->
<!--    <div class="row" style="margin-top:15px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <input type="text"
                       placeholder="Search by merchant..."
                       ng-model="filterTerm"
                       ng-change="setPage('first')"
                       class="form-control"/>
                       &lt;!&ndash;typeahead="c as c.Name for c in currentCategory.SubCategories | filter:$viewValue | limitTo:3"/>&ndash;&gt;
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="merchant-list" ng-controller="PaginationController" ng-swipe-left="setPage('prev')" ng-swipe-right="setPage('next')" resizable>
            <li class="col-lg-1 col-md-1 text-center hidden-xs hidden-sm"><div class="btn btn-default" ng-click="setPage('prev')" ng-class="{disabled:settings.currentPage === 1}">Prev</div> </li>
            <li class="col-lg-1 col-md-2 col-sm-3 col-xs-6 text-center" ng-repeat="c in currentCategory.SubCategories | merchantFilter:filterTerm | paginate:(settings.currentPage-1) * pageSize() | limitTo:pageSize()" ng-click="selectCategory(c)">
                <div ng-class="{'selected':c.selected}" style="background-image:url('{{c.Image.URL}}')">
                    <h5><b ng-bind-html="c.Name"></b></h5><br/>
                </div>
            </li>
            <li class="col-lg-1 col-md-1 text-center hidden-xs hidden-sm"><div class="btn btn-default" ng-click="setPage('next')" ng-disabled="(((currentCategory.SubCategories | merchantFilter:filterTerm).length)/settings.pageSize/settings.currentPage) < 1" >Next</div> </li>

        </ul>
    </div>
    <div class="row">
        <div class="merchant-view-detail">
            <div>
                <shortcategoryview c="category" user="user"/>
            </div>
        </div>
    </div>-->
