<section class="container merchant-view">
    <div class="row">
        <div class="col-md-4" ng-show="showMerchantList">
            <div bs-affix>
                <div class="form-group">
                    <input type="text"
                           placeholder="Search by merchant..."
                           ng-model="filterTerm"
                           class="form-control"/>
                </div>
            </div>
            <ul class="merchant-view-merchant-list">
                <li ng-repeat="c in currentCategory.SubCategories | merchantFilter:filterTerm" ng-click="selectCategory(c)" ng-class="{'selected':c.selected}">
                    <div style="background-image:url('{{c.Image.URL}}')" class="merchant-view-merchant-list-image"></div>
                    <h4><b ng-bind-html="c.Name"></b></h4>
                </li>
            </ul>
        </div>

        <div class="container merchant-view-detail-small" ng-show="!showMerchantList">
            <shortcategoryview c="category" user="user" />
        </div>

        <div class="col-md-8 merchant-view-detail-large">
            <div id="shortcat-affix" bs-affix data-offset-top="185">
                <shortcategoryview c="category" user="user" />
            </div>
        </div>
    </div>
</section>