<section class="product-selection-view container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row" style="display:inline-flex">
                <div class="col-md-3 col-sm-4" ng-repeat="prod in tree">
                    <div class="product-selector" ng-class="{'active': selectedProduct.Name == prod.Name}"
                         ng-click="selectProduct(prod)">
                        <div>
                            <h4 class="pname"><span ng-bind-html="prod.Name" /></h4>
                            <img ng-src="{{prod.Image.URL}}" alt/>
                        </div>
                        <p style="height:15em"><small ng-bind-html="prod.Description"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>