<div class="row" ng-show="currentCategory.SpaDescription" style="margin-top:20px;">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="spa-category-description">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <figure class="text-center" style="padding:60px 0; background-color:#ddd; border-radius:4px;">
                        <img style="display:inline; width:100%; max-width:250px; -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.6);box-shadow: 0 0 30px 0 rgba(0,0,0,.6);" ng-src="{{currentCategory.SpaDescription.image}}"/>
                    </figure>
                </div>
                <div class="col-lg-8 col-md-9">
                    <tabset>
                        <tab heading="Description">
                            <small ng-init="descriptionTruncateLimit = 75">
                                {{currentCategory.SpaDescription.description}}
                                <!--<div class="btn btn-sm btn-info" ng-click="(descriptionTruncateLimit == 75) ? (descriptionTruncateLimit = 1000) : (descriptionTruncateLimit = 75)">See {{descriptionTruncateLimit == 75 ? 'More' : 'Less'}}</div>-->
                            </small>
                        </tab>
                        <tab heading="More Info" ng-if="currentCategory.SpaDescription.infoTab">
                            <small ng-init="infoTruncateLimit = 75">
                                {{currentCategory.SpaDescription.infoTab}}
                                <!--<div class="btn btn-info btn-sm" ng-click="(infoTruncateLimit == 75) ? (infoTruncateLimit = 1000) : (infoTruncateLimit = 75)">See {{infoTruncateLimit == 75 ? 'More' : 'Less'}}</div>-->
                            </small>
                        </tab>
                        <tab heading="Canadian Info" ng-click="(canadianTruncateLimit == 75) ? (canadianTruncateLimit = 1000) : (canadianTruncateLimit = 75)" ng-if="currentCategory.SpaDescription.canadianTab">
                            <small ng-init="canadianTruncateLimit = 75">
                                {{currentCategory.SpaDescription.canadianTab}}
                                <!--<div class="btn btn-info btn-sm" ng-click="canadianTruncateLimit == 75 ? canadianTruncateLimit = 1000 : canadianTruncateLimit = 75">See {{canadianTruncateLimit == 75 ? 'More' : 'Less'}}</div>-->
                            </small>
                        </tab>
                        <tab>
                            <tab-heading>
                                <i class="fa fa-shopping-cart"></i> Add To Cart
                            </tab-heading>
                            <div class="row">
                                <form name="addToOrderForm" ng-controller="ProductCtrl">
                                    <div class="col-lg-6" ng-if="LineItem.Product.Specs['Physical/Digital'].Value == 'Digital'" style="background-color:#f2f2f2;">
                                        <div id="451_list_vspec" ng-show="allowAddToOrder">
                                            <div class="form-group" ng-repeat="s in LineItem.Product.Specs | onproperty:[{Property: 'CanSetForLineItem', Value: true}, {Property: 'DefinesVariant', Value: true}]" ng-if="!(s.DefaultValue)">
                                                <customfilefield customfield="s" ng-if="s.ControlType == 'File'"></customfilefield>
                                                <customtextfield customfield="s" ng-if="s.ControlType == 'Text'"></customtextfield>
                                                <customselectionfield change="specChanged" customfield="s" ng-if="s.ControlType == 'Selection'"></customselectionfield>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" ng-class="{'col-lg-offset-3 col-md-10 col-md-offset-1':LineItem.Product.Specs['Physical/Digital'].Value != 'Digital'}">
                                        <div class="view-form-icon row" ng-show="allowAddToOrder" style="margin-bottom:10px;">
                                            <div class="col-xs-6" style="margin:0;">

                                                <div class="denominations" ng-show="products">
                                                    <div class="container">
                                                        <h4 ng-class="{'selected':selectedProduct.Name == product.Name}" ng-repeat="product in products" ng-click="setSearchProduct(product)">{{'$' +product.Denomination}}</h4>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-6" style="margin:0;">
                                                <quantityfield ng-if="!allowAddFromVariantList" required="true" lineitem="LineItem" class="quantity" />
                                            </div>
                                        </div>
                                        <div class="mini-white-panel" ng-show="LineItem.LineTotal || variantLineItemsOrderTotal" ng-if="!(user.Permissions.contains('HidePricing'))">
                                            <p class="text-info text-center">
                                                <small class="text-info">Total</small>
                                            </p>
                                            <div class="text-center" ng-if="!(user.Permissions.contains('HidePricing'))" ng-show="LineItem.LineTotal || variantLineItemsOrderTotal">
                                                <h3 class="text-success">${{LineItem.PriceSchedule.PriceBreaks[0].Price * LineItem.Quantity}}{{variantLineItemsOrderTotal}}</h3>
                                            </div>
                                        </div>
                                        <button type="button" id="451_btn_orderadd" ng-disabled="addToOrderForm.$invalid" ng-click="addToOrder(LineItem)" class="btn btn-lg btn-block" ng-class="{'btn-danger': (LineItem.qtyError || addToOrderForm.$invalid || addToOrderError), 'btn-primary': (!LineItem.qtyError && !addToOrderForm.$invalid && !addToOrderError)}">
                                            <span ng-class="{'hidden':(LineItem.qtyError || addToOrderForm.$invalid || addToOrderError)}">{{addToOrderText}}</span>
                                            <div class="add-to-error-overlay" ng-show="allowAddToOrder && (LineItem.qtyError || addToOrderForm.$invalid || addToOrderError)">
                                                <small>
                                                    {{LineItem.qtyError}}<br ng-show="LineItem.qtyError"/>
                                                    <span ng-show="addToOrderForm.$invalid" >
                                                        Product is missing required fields for Add to Cart.<br/>
                                                    </span>
                                                    {{addToOrderError}}
                                                </small>
                                            </div>
                                        </button>
                                        <p class="alert alert-info text-center" ng-show="LineItem.Product.DisplayInventory && (LineItem.Variant || LineItem.Product.Variants.length == 0)">
                                            <i class="fa fa-clock-o" style="float:none;"></i> {{inventoryDisplay(LineItem.Product, LineItem.Variant) > 5 ? 'Will ship within 24 hours' : 'Should ship within 3-5 days'}}
                                        </p>
                                    </div>
                                </form>
                                <!--<shortaddtoorder user="user" order="currentOrder" />-->
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="col-md-6 col-lg-5 col-lg-offset-1">
        <div class="row denominations" style="padding:10px 0;" ng-show="products">
            <div class="container">
                <div class="text-center">
                    <h4 ng-class="{'selected':selectedProduct.Name == product.Name}" ng-repeat="product in products" ng-click="setSearchProduct(product)">{{'$' +product.Denomination}}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <shortaddtoorder user="user" order="currentOrder" />
        </div>
    </div>-->
</div>

