


    <form name="addToOrderForm">
        <div class="col-lg-6" ng-if="LineItem.Product.Specs['Physical/Digital'].Value == 'Digital'" style="background-color:#f2f2f2;">
            <div id="451_list_vspec" ng-show="allowAddToOrder">
                <div class="form-group" ng-repeat="s in LineItem.Product.Specs | onproperty:[{Property: 'CanSetForLineItem', Value: true}, {Property: 'DefinesVariant', Value: true}]" ng-if="!(s.DefaultValue)">
                    <customfilefield customfield="s" ng-if="s.ControlType == 'File'"></customfilefield>
                    <customtextfield customfield="s" ng-if="s.ControlType == 'Text'"></customtextfield>
                    <customselectionfield change="specChanged" customfield="s" ng-if="s.ControlType == 'Selection'"></customselectionfield>
                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-class="{'col-lg-offset-3 col-md-10 col-md-offset-1':LineItem.Product.Specs['Physical/Digital'].Value != 'Digital'}">
            <div class="view-form-icon row" ng-show="allowAddToOrder" style="margin-bottom:10px;">
                <div class="col-xs-6" style="margin:0;">
                    <p class="text-info text-center quantity-text" ng-hide="allowAddFromVariantList">Quantity:</p>
                </div>
                <div class="col-xs-6" style="margin:0;">
                    <quantityfield ng-if="!allowAddFromVariantList" required="true" lineitem="LineItem" class="quantity" />
                </div>
            </div>
            <div class="mini-white-panel" ng-show="LineItem.LineTotal || variantLineItemsOrderTotal" ng-if="!(user.Permissions.contains('HidePricing'))">
                <p class="text-info text-center">
                    <small class="text-info">Total</small>
                </p>
                <div class="text-center" ng-if="!(user.Permissions.contains('HidePricing'))" ng-show="LineItem.LineTotal || variantLineItemsOrderTotal">
                    <h3 class="text-success">${{LineItem.PriceSchedule.PriceBreaks[0].Price * LineItem.Quantity}}{{variantLineItemsOrderTotal}}</h3>
                </div>
            </div>
            <button type="button" id="451_btn_orderadd" ng-disabled="addToOrderForm.$invalid" ng-click="addToOrder(LineItem)" class="btn btn-lg btn-block" ng-class="{'btn-danger': (LineItem.qtyError || addToOrderForm.$invalid || addToOrderError), 'btn-primary': (!LineItem.qtyError && !addToOrderForm.$invalid && !addToOrderError)}">
                <span ng-class="{'hidden':(LineItem.qtyError || addToOrderForm.$invalid || addToOrderError)}">{{addToOrderText}}</span>
                <div class="add-to-error-overlay" ng-show="allowAddToOrder && (LineItem.qtyError || addToOrderForm.$invalid || addToOrderError)">
                    <small>
                        {{LineItem.qtyError}}<br ng-show="LineItem.qtyError"/>
                        <span ng-show="addToOrderForm.$invalid" >
                            Product is missing required fields for Add to Cart.<br/>
                        </span>
                        {{addToOrderError}}
                    </small>
                </div>
            </button>
            <p class="alert alert-info text-center" ng-show="LineItem.Product.DisplayInventory && (LineItem.Variant || LineItem.Product.Variants.length == 0)">
                <i class="fa fa-clock-o" style="float:none;"></i> {{inventoryDisplay(LineItem.Product, LineItem.Variant) > 5 ? 'Will ship within 24 hours' : 'Should ship within 3-5 days'}}
            </p>
        </div>
    </form>


<!--

<div class="panel panel-default" ng-show="LineItem.Product">
    <div class="panel-heading" >
        <p class="panel-title" style="padding-top:10px; padding-bottom:10px;">
            <b>{{LineItem.Product.Name}}</b><br/>
            <small ng-show="LineItem.Product.DisplayInventory && (LineItem.Variant || LineItem.Product.Variants.length == 0)">
                <i class="fa fa-clock-o" style="float:none;"></i> {{inventoryDisplay(LineItem.Product, LineItem.Variant) > 5 ? 'Will ship within 24 hours' : 'Should ship within 3-5 days'}}
            </small>
        </p>
    </div>
    <div class="panel-body">
        <form name="addToOrderForm">
            <div class="col-lg-6" ng-if="LineItem.Product.Specs['Physical/Digital'].Value == 'Digital'">
                <div id="451_list_vspec" ng-show="allowAddToOrder">
                    <div class="form-group" ng-repeat="s in LineItem.Product.Specs | onproperty:[{Property: 'CanSetForLineItem', Value: true}, {Property: 'DefinesVariant', Value: true}]" ng-if="!(s.DefaultValue)">
                        <customfilefield customfield="s" ng-if="s.ControlType == 'File'"></customfilefield>
                        <customtextfield customfield="s" ng-if="s.ControlType == 'Text'"></customtextfield>
                        <customselectionfield change="specChanged" customfield="s" ng-if="s.ControlType == 'Selection'"></customselectionfield>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" ng-class="{'col-lg-offset-3 col-md-10 col-md-offset-1':LineItem.Product.Specs['Physical/Digital'].Value != 'Digital'}">
                <div class="view-form-icon row" ng-show="allowAddToOrder" style="margin-bottom:10px;">
                    <div class="col-xs-6" style="margin:0;">
                        <p class="text-info text-center quantity-text" ng-hide="allowAddFromVariantList">Quantity:</p>
                    </div>
                    <div class="col-xs-6" style="margin:0;">
                        <quantityfield ng-if="!allowAddFromVariantList" required="true" lineitem="LineItem" class="quantity" />
                    </div>
                </div>
                <div class="mini-white-panel" ng-show="LineItem.LineTotal || variantLineItemsOrderTotal" ng-if="!(user.Permissions.contains('HidePricing'))">
                    <p class="text-info text-center">
                        <small class="text-info">Total</small>
                    </p>
                    <div class="text-center" ng-if="!(user.Permissions.contains('HidePricing'))" ng-show="LineItem.LineTotal || variantLineItemsOrderTotal">
                        <h3 class="text-success">${{LineItem.PriceSchedule.PriceBreaks[0].Price * LineItem.Quantity}}{{variantLineItemsOrderTotal}}</h3>
                    </div>
                </div>
                <button type="button" id="451_btn_orderadd" ng-disabled="addToOrderForm.$invalid" ng-click="addToOrder(LineItem)" class="btn btn-lg btn-block" ng-class="{'btn-danger': (LineItem.qtyError || addToOrderForm.$invalid || addToOrderError), 'btn-primary': (!LineItem.qtyError && !addToOrderForm.$invalid && !addToOrderError)}">
                    <span ng-class="{'hidden':(LineItem.qtyError || addToOrderForm.$invalid || addToOrderError)}">{{addToOrderText}}</span>
                    <div class="add-to-error-overlay" ng-show="allowAddToOrder && (LineItem.qtyError || addToOrderForm.$invalid || addToOrderError)">
                        <small>
                            <div style="height:10px; width:100%;" ng-show="!LineItem.qtyError"></div>
                            {{LineItem.qtyError}}<br ng-show="LineItem.qtyError"/>
                            <span ng-show="addToOrderForm.$invalid" >
                                Product is missing required fields for Add to Cart.<br/>
                            </span>
                            {{addToOrderError}}
                        </small>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>-->
