<div class="container col-lg-10 col-lg-offset-1 panel panel-default">
    <h3 class="row" style="padding-left:5px;text-align:center">Selected Product: {{selectedProduct.Name}}</h3>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row" style="margin-bottom:15px;">
                <div class="col-md-4">
                    <img style="margin:0 auto; max-width:100%;" ng-src="{{selectedProduct.LargeImageUrl}}" alt="image cannot be previewed"/>
                </div>
                <div class="col-md-8">
                    <accordion close-others="true">
                        <accordion-group heading="Terms and Conditions" is-open="true">
                            <p><small ng-bind-html="selectedProduct.SpaDescription.TermsAndConditions"></small></p>
                        </accordion-group>
                        <accordion-group heading="More Info" ng-show="selectedProduct.SpaDescription.MoreInfo">
                            <p><small ng-bind-html="selectedProduct.SpaDescription.MoreInfo"></small></p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-6 col-md-offset-3">
            <form name="visa_form" ng-submit="addToCart(selectedProduct)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.FirstName.Label}}</label>
                                <input class="form-control" type="text" placeholder="{{selectedProduct.Specs.FirstName.Label}}" ng-model="selectedProduct.Specs.FirstName.Value" name="FirstName" readonly="readonly" />
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.LastName.Label}}</label>
                                <input class="form-control" type="text" placeholder="{{selectedProduct.Specs.LastName.Label}}" ng-model="selectedProduct.Specs.LastName.Value" name="LastName" readonly="readonly" />
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.Denomination.Label}}</label>
                                <select class="form-control"
                                        ng-required="true"
                                        ng-change="denomChanged()"
                                        ng-model="selectedProduct.Specs.Denomination.Value"
                                        ng-options="option.Value as option.Value for option in selectedProduct.Specs.Denomination.Options">
                                    <option class="view-select-placeholder" selected="" value="">Select a Denomination</option>
                                </select>
                                <i class="fa fa-comment"></i>
                            </div>
                        </div>
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.OccasionMessage.Label}}</label>
                                <input class="form-control" type="text" ng-maxlength="40" ng-model="selectedProduct.Specs.OccasionMessage.Value" name="OccasionMessage" readonly="readonly" />
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" style="margin:15px 0 0;" class="btn btn-success" value="Create Award" ng-disabled="visa_form.$invalid" />
                </div>
            </form>
        </div>
    </div>
</div>