<div class="container col-lg-10 col-lg-offset-1 panel panel-default">
    <h3 class="row" style="padding-left:5px;text-align:center">Selected Product: {{selectedProduct.Name}}</h3>
    <div class="row">
        <div class="col-md-3 col-md-offset-2" style="margin-bottom:15px;">
            <img style="margin: auto;" ng-src="{{selectedProduct.LargeImageUrl}}" alt="image cannot be previewed"/>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-bind-html="selectedProduct.SpaDescription.TermsAndConditions"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-6 col-md-offset-3">
            <form name="visa_form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.FirstName.Label}}</label>
                                <input class="form-control" type="text" placeholder="selectedProduct.Specs.FirstName.Label" ng-model="selectedProduct.Specs.FirstName.Value" name="FirstName" readonly="readonly" />
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.LastName.Label}}</label>
                                <input class="form-control" type="text" placeholder="{{selectedProduct.Specs.LastName.Label}}" ng-model="selectedProduct.Specs.LastName.Value" name="LastName" readonly="readonly" />
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.Denomination.Label}}</label>
                                <select class="form-control"
                                        ng-required="true"
                                        ng-change="denomChanged()"
                                        ng-model="selectedProduct.Specs.Denomination.Value"
                                        ng-options="option.Value as option.Value for option in selectedProduct.Specs.Denomination.Options">
                                    <option class="view-select-placeholder" selected="" value="">Select a Denomination</option>
                                </select>
                                <i class="fa fa-comment"></i>
                            </div>
                        </div>
                        <div class="view-form-icon">
                            <div>
                                <label>{{selectedProduct.Specs.OccasionMessage.Label}}</label>
                                <input class="form-control" type="text" ng-maxlength="40" ng-model="selectedProduct.Specs.OccasionMessage.Value" name="OccasionMessage" readonly="readonly" />
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-success" style="margin-top: 15px; width: 100%" value="Create Award" ng-click="addToCart(selectedProduct)" ng-disabled="visa_form.$invalid" />
            </form>
        </div>
    </div>
</div>