//== Custom variables and mixins for bootstrap & fourfiveone
@import "variables";
@import "mixins";
@import "flexbox";

//== Custom components
@import "purchase-steps";
@import "product-selection";
@import "list-creation";
@import "merchant-view";
@import "cart-view";
@import "award-config";

input.quantity-field {
  height: 52px;
  outline: 0 none;
  padding: .5em 0;
  text-align: center;
  width: 100%;
  margin: 0;
  border-radius: 0;
  border-color: #dddddd;
  font-size: 24px;
  color: #468847;
  box-shadow: none;
}