ul.merchant-view-merchant-list {
  list-style: none;
  padding-left: 0;
}
ul.merchant-view-merchant-list li {
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
}
ul.merchant-view-merchant-list li.selected {
  background-color: #8cc63e;
}
ul.merchant-view-merchant-list li h4 {
  z-index: 100;
}
ul.merchant-view-merchant-list li.selected h4 {
  color: #fff;
}
.merchant-view-merchant-list-image {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.2;
}
ul.merchant-view-merchant-list li.selected .merchant-view-merchant-list-image {
  opacity: 0;
}
